<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

     <div class="page-content">
          <div class="container-fluid" id="table_change">

               <!-- start page title -->
               <div class="row">
                    <div class="col-12">
                         <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                              <h4 class="mb-sm-0">Category Management</h4>

                              <div class="page-title-right">
                                   <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                                        <li class="breadcrumb-item active">Category Management</li>
                                   </ol>
                              </div>

                         </div>
                    </div>
               </div>
               <!-- end page title -->

               <div class="card">
                    <div class="card-body">
                         <div class="row">
                              <div class="col-md-4">
                                   <!-- Create Category -->
                                   <h5 class="pb-1">Create Category</h5>
                                   <form>
                                        <div class="mb-4">
                                             <label for="product_name" class="form-label">Category</label>
                                             <input type="text" placeholder="Type here" name="category"
                                                  class="form-control" id="category" />
                                        </div>



                                        <div class="d-grid pb-3">
                                             <a class="btn btn-primary" type="submit" onclick="addCategory()">Create
                                                  category</a>

                                        </div>
                                   </form>
                                   <hr>
                                   <!-- End -->
                                   <h5 class="pb-1">Create Subcategory</h5>
                                   <form>
                                        <div class="mb-4">
                                             <label class="form-label">Select Category</label>
                                             <select class="form-select" id="category_select">
                                                  <option>Select</option>
                                                  <%for(var i=0;i<data.length;i++){%>

                                                       <option>
                                                            <%=data[i].category%>
                                                       </option>

                                                       <%}%>
                                             </select>
                                        </div>
                                        <div class="mb-4">
                                             <label for="product_slug" class="form-label">Sub Category</label>
                                             <input type="text" placeholder="Type here" name="subcategory"
                                                  class="form-control" id="sub_category" />
                                        </div>


                                        <div class="d-grid">
                                             <a class="btn btn-primary" type="submit" onclick="addSubategory()">Create
                                                  Subcategory</a>

                                        </div>
                                   </form>
                              </div>
                              <div class="col-md-8">



                                   <table id="" class="table table-striped table-bordered dt-responsive nowrap"
                                        style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                             <tr>
                                                  <th>Category</th>
                                                  <th>Sub Category</th>
                                                  <th class="text-end">Action</th>
                                             </tr>
                                        </thead>
                                        <tbody>
                                             <%for(var i=0;i<data.length;i++){%>
                                                  <tr>
                                                       <td class="text-dark"><b><%=data[i].category%></b></td>
                                                       <td></td>
                                                       <td class="text-end"><a class="btn btn-danger"
                                                            onclick="deleteCategory('<%=data[i].category%>')">Delete
                                                            Category</a></td>
                                                  </tr>
                                                  <%for(var j=0;j<data[i].subCategory.length;j++){%>
                                                       <tr>
                                                            <td></td>
                                                            <td class="text-dark"><%=data[i].subCategory[j]%></td>
                                                            <td class="text-end"><a class="btn btn-secondary"
                                                                 onclick="deleteSubCategory('<%=data[i].category%>','<%=data[i].subCategory[j]%>')">Delete
                                                                 Subcategory</a></td>
                                                       </tr>
                                                  <%}%>
                                             <%}%>

                                        </tbody>
                                   </table>
                                        
                              </div> <!-- .col// -->
                         </div> <!-- .row // -->
                    </div> <!-- card body .// -->
               </div> <!-- card .// -->
          </div>
          <!-- End Page-content -->
     </div>
     <!-- end main content-->

</div>
<!-- END layout-wrapper -->




<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<!-- JAVASCRIPT -->
<script src="/admin/libs/jquery/jquery.min.js"></script>
<script src="/admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/admin/libs/metismenu/metisMenu.min.js"></script>
<script src="/admin/libs/simplebar/simplebar.min.js"></script>
<script src="/admin/libs/node-waves/waves.min.js"></script>

<!-- sweat alert -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- <script src="sweetalert2.all.min.js"></script> -->

<script src="/admin/js/app.js"></script>

<link rel="stylesheet" type="text/css"
     href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/datatables.min.css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript"
     src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/datatables.min.js"></script>


<script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>



<!-- function -->

<script>


     $(document).ready(function () {
          $('#table_id').DataTable();
     });


     // function for create category with validation
     function addCategory() {

          let catError = true;

          function validateCategory() {

               let inpCat = $('#category').val()

               if (inpCat.length == '') {

                    $('#category').css('border-color', '#c70d0d')
                    $('#category').attr("placeholder", "Enter Category")
                    catError = false;
                    return false;
               }
          }

          validateCategory()

          let category = document.getElementById('category').value.toUpperCase()
          //  $('#category').val()
          console.log(category);
          // category = toUpperCase()

          if (catError === true) {

               $.ajax({

                    url: '/admin/add_category',
                    type: 'post',
                    data: { category: category },
                    success: () => {

                         $("#table_change").load(location.href + " #table_change");
                         // $('#table_change').load(window.location.href + "#table_change");
                    }
               })
          }
     }




     // function for Subcategory add with validation
     function addSubategory() {

          event.preventDefault()

          let catError = true;

          function validateCategory() {

               let inpCat = $('#category_select').val()


               if (inpCat == 'Select') {

                    $('#category_select').css('border-color', '#c70d0d')
                    $('#category_select').attr("placeholder", "Enter Category")
                    catError = false;
                    return false;
               }
          }



          let subCatError = true;

          function validateSubCategory() {

               let inpSubCat = $('#sub_category').val()

               if (inpSubCat.length == '') {

                    $('#sub_category').css('border-color', '#c70d0d')
                    $('#sub_category').attr("placeholder", "Enter Subcategory")
                    subCatError = false;
                    return false;
               }
          }


          let cat = {

               category: $('#category_select').val(),
               subcategory: document.getElementById('sub_category').value.toUpperCase()

          }

          validateCategory()
          validateSubCategory()
          if (subCatError === true && catError === true) {

               $.ajax({

                    url: '/admin/add_subcategory',
                    type: 'post',
                    data: cat,
                    success: () => {

                         $("#table_change").load(location.href + " #table_change");
                         // $('#table_change').load(window.location.href + "#table_change");
                    }
               })
          }
     };

     // function for delete category
     function deleteCategory(cat) {

          let catName = cat
          // console.log(catName);
          Swal.fire({
               title: 'Are you sure?',
               text: "You won't be able to revert this!",
               icon: 'warning',
               showCancelButton: true,
               confirmButtonColor: '#3085d6',
               cancelButtonColor: '#d33',
               confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
               if (result.isConfirmed) {
                    Swal.fire(

                         'Deleted!',
                         'Your file has been deleted.',
                         'success',
                         $.ajax({

                              url: '/admin/deleteCategory',
                              type: 'post',
                              data: { catName: catName },
                              success: () => {

                                   $("#table_change").load(location.href + " #table_change");

                              }

                         })

                    )
               }
          })

     }

     // function for delete subcategory
     function deleteSubCategory(cat, sub) {

          console.log(cat,sub);
          let categorys = {

               catName: cat,
               subCatName: sub
          }

          Swal.fire({
               title: 'Are you sure?',
               text: "You won't be able to revert this!",
               icon: 'warning',
               showCancelButton: true,
               confirmButtonColor: '#3085d6',
               cancelButtonColor: '#d33',
               confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
               if (result.isConfirmed) {
                    Swal.fire(

                         'Deleted!',
                         'Your file has been deleted.',
                         'success',
                         $.ajax({

                              url: '/admin/deletesSubCategory',
                              type: 'post',
                              data: categorys,
                              success: () => {
                                   console.log("hiiii");
                                   $("#table_change").load(location.href + " #table_change");

                              }

                         })

                    )
               }
          })

     }



</script>


</body>