<script>
    window.Promise ||
        document.write(
            '<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>'
        )
    window.Promise ||
        document.write(
            '<script src="https://cdn.jsdelivr.net/npm/eligrey-classlist-js-polyfill@1.2.20171210/classList.min.js"><\/script>'
        )
    window.Promise ||
        document.write(
            '<script src="https://cdn.jsdelivr.net/npm/findindex_polyfill_mdn"><\/script>'
        )
</script>


<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Dashboard</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-lg-4">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i
                                    class="text-primary material-icons ">monetization_on</i></span>
                            <div class="text">
                                <h6 class="mb-1">Total Sales</h6> <span>Rs.<%=totalSales%></span>
                            </div>
                        </article>

                    </div> <!-- card  end// -->
                </div> <!-- col end// -->

                <div class="col-lg-4">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i
                                    class="text-success material-icons">local_shipping</i></span>
                            <div class="text">
                                <h6 class="mb-1">Total Orders</h6> <span>
                                    <%=totalOrder%>
                                </span>
                            </div>
                        </article>
                    </div> <!-- card end// -->
                </div> <!-- col end// -->

                <div class="col-lg-4">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light">
                                <i class="material-icons">shopping_basket</i></span>
                            <div class="text">
                                <h6 class="mb-1">Total Products</h6> <span>
                                    <%=totalProducts%>
                                </span>
                            </div>
                        </article>
                    </div> <!--  end// -->
                </div> <!-- col end// -->


            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-xl-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h5 class="card-title">Overview(Last Week)</h5>
                                </div>

                            </div>

                            <div>
                                <div id="chart" class="apex-charts" dir="ltr"></div>
                            </div>
                        </div>
                        <!-- end card-body -->

                        <div class="card-body border-top">
                            <div class="text-muted text-center">
                                <div class="row">



                                </div>
                            </div>
                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->

                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="pie-chart" width="800" height="450"></canvas>
                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Order Stats</h5>
                            <div>
                                <ul class="list-unstyled">
                                    <li class="py-3">
                                        <div class="d-flex">
                                            <div class="avatar-xs align-self-center me-3">
                                                <div
                                                    class="avatar-title rounded-circle bg-light text-primary font-size-18">
                                                    <i class="ri-checkbox-circle-line"></i>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="text-muted mb-2">Completed</p>
                                                <div class="progress progress-sm animated-progess">
                                                    <div class="progress-bar bg-success" role="progressbar"
                                                        style="width: <%=orderStatus.completedOrder%>%"
                                                        aria-valuenow="<%=orderStatus.completedOrder%>"
                                                        aria-valuemin="0" aria-valuemax="<%=totalOrder%>"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="py-3">
                                        <div class="d-flex">
                                            <div class="avatar-xs align-self-center me-3">
                                                <div
                                                    class="avatar-title rounded-circle bg-light text-primary font-size-18">
                                                    <i class="ri-calendar-2-line"></i>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="text-muted mb-2">Pending</p>
                                                <div class="progress progress-sm animated-progess">
                                                    <div class="progress-bar bg-warning" role="progressbar"
                                                        style="width: <%=orderStatus.pendingOrder%>%"
                                                        aria-valuenow="<%=orderStatus.pendingOrder%>" aria-valuemin="0"
                                                        aria-valuemax="<%=totalOrder%>"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="py-3">
                                        <div class="d-flex">
                                            <div class="avatar-xs align-self-center me-3">
                                                <div
                                                    class="avatar-title rounded-circle bg-light text-primary font-size-18">
                                                    <i class="ri-close-circle-line"></i>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="text-muted mb-2">Cancel</p>
                                                <div class="progress progress-sm animated-progess">
                                                    <div class="progress-bar bg-danger" role="progressbar"
                                                        style="width:<%=orderStatus.cancelOrder%>%"
                                                        aria-valuenow="<%=orderStatus.cancelOrder%>" aria-valuemin="0"
                                                        aria-valuemax="<%=totalOrder%>"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <hr>

                            <div class="text-center">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="mt-2">
                                            <p class="text-muted mb-2">Completed</p>
                                            <h5 class="font-size-16 mb-0">
                                                <%=orderStatus.completedOrder%>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="mt-2">
                                            <p class="text-muted mb-2">Pending</p>
                                            <h5 class="font-size-16 mb-0">
                                                <%=orderStatus.pendingOrder%>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="mt-2">
                                            <p class="text-muted mb-2">Cancel</p>
                                            <h5 class="font-size-16 mb-0">
                                                <%=orderStatus.cancelOrder%>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">

                            <canvas id="line-chart" width="800" height="450"></canvas>

                        </div>
                    </div>
                </div>
                <!-- end col -->

                <!-- <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title mb-3">Revenue by Location</h5>
                        
                                        <div>
                                            <div id="usa" style="height: 226px"></div>
                                        </div>
                        
                                        <div class="text-center mt-4">
                                            <a href="#" class="btn btn-primary btn-sm">View More</a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div> -->
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Latest Transaction</h4>

                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="width: 50px;">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheckall">
                                                    <label class="form-check-label" for="customCheckall"></label>
                                                </div>
                                            </th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Product</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%for(i=0;i<LastOrders.length;i++){%>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                            id="customCheck1">
                                                        <label class="form-check-label" for="customCheck1"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <h5 class="font-size-15 mb-0">
                                                        <%=LastOrders[i].deliveryDetails.name%>
                                                    </h5>
                                                </td>
                                                <td>
                                                    <%=LastOrders[i].displayDate%>
                                                </td>
                                                <td>Rs.<%=LastOrders[i].product.productname%>
                                                </td>
                                                <td>
                                                    <%=LastOrders[i].quantity%>
                                                </td>
                                                <td>
                                                    <%=LastOrders[i].subTotal%>
                                                </td>
                                                <%if(LastOrders[i].status==='cancel' ){%>
                                                    <td>
                                                        <i class="mdi mdi-checkbox-blank-circle text-danger me-1"></i>
                                                        <%=LastOrders[i].status%>
                                                    </td>
                                                    <%}else if(LastOrders[i].status==='delivered' ){%>
                                                        <td>
                                                            <i
                                                                class="mdi mdi-checkbox-blank-circle text-success me-1"></i>
                                                            <%=LastOrders[i].status%>
                                                        </td>
                                                        <%}else{%>
                                                            <td>
                                                                <i
                                                                    class="mdi mdi-checkbox-blank-circle text-warning me-1"></i>
                                                                <%=LastOrders[i].status%>
                                                            </td>
                                                            <%}%>

                                            </tr>
                                            <%}%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->

        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

</div>

</div>


<!-- END layout-wrapper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<!-- JAVASCRIPT -->
<script src="/admin/libs/jquery/jquery.min.js"></script>
<script src="/admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/admin/libs/metismenu/metisMenu.min.js"></script>
<script src="/admin/libs/simplebar/simplebar.min.js"></script>
<script src="/admin/libs/node-waves/waves.min.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script> -->

<!-- apexcharts js -->
<script src="/admin/libs/apexcharts/apexcharts.min.js"></script>

<!-- jquery.vectormap map -->
<script src="/admin/libs/jqvmap/jquery.vmap.min.js"></script>
<script src="/admin/libs/jqvmap/maps/jquery.vmap.usa.js"></script>

<script src="/admin/js/pages/dashboard.init.js"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script src="/admin/js/app.js"></script>

</body>


<script>


    $.ajax({
        url: '/admin/dashboard/weeklychart',
        type: 'post',
        data: {},
        success: (response) => {
            console.log(response);

            // new users weekly

            const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
            let _labels = []
            for (i = 0; i < 7; i++) {
                let index = (new Date().getDay() + i) % 7
                //if(index == )
                _labels.push(days[index])
            }
            const today = new Date().getDate()
            new Chart(document.getElementById("line-chart"), {
                type: 'line',
                data: {
                    labels: [days[(new Date().getDay()) % 7], days[(new Date().getDay() + 1) % 7], days[(new Date().getDay() + 2) % 7], days[(new Date().getDay() + 3) % 7], days[(new Date().getDay() + 4) % 7], days[(new Date().getDay() + 5) % 7], days[(new Date().getDay() + 6) % 7], days[(new Date().getDay())]],
                    datasets: [{
                        data: response.weeklyUsers,
                        label: "Join Rate",
                        borderColor: "#3cba9f",
                        fill: true,
                    }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: 'New Users (Weekly)'
                    }
                }
            });


            console.log(response.weeklyTotalSales);

            const dates = [...Array(7)].map((_, i) => {
                const d = new Date()
                d.setDate(d.getDate() - i)
                return d
            })


            // users, sales and profit chart

            var options = {
                series: [{
                    name: 'Sales',
                    type: 'area',
                    data: response.weeklyTotalSales
                }, {
                    name: 'Users',
                    type: 'line',
                    data: response.weeklyUsers
                }],
                chart: {
                    height: 350,
                    type: 'line',
                    stacked: false,
                },
                stroke: {
                    width: [0, 2, 5],
                    curve: 'smooth'
                },
                plotOptions: {
                    bar: {
                        columnWidth: '50%'
                    }
                },

                fill: {
                    opacity: [0.85, 0.25, 1],
                    gradient: {
                        inverseColors: false,
                        shade: 'light',
                        type: "vertical",
                        opacityFrom: 0.85,
                        opacityTo: 0.55,
                        stops: [0, 100, 100, 100]
                    }
                },
                labels: [days[(new Date().getDay()) % 7], days[(new Date().getDay() + 1) % 7], days[(new Date().getDay() + 2) % 7], days[(new Date().getDay() + 3) % 7], days[(new Date().getDay() + 4) % 7], days[(new Date().getDay() + 5) % 7], days[(new Date().getDay() + 6) % 7], days[(new Date().getDay())]],
                markers: {
                    size: 0
                },
                xaxis: {

                },
                yaxis: {
                    title: {
                        text: 'Points',
                    },
                    min: 0
                },
                tooltip: {
                    shared: true,
                    intersect: false,
                    y: {
                        formatter: function (y) {
                            if (typeof y !== "undefined") {
                                return y.toFixed(0) + " points";
                            }
                            return y;

                        }
                    }
                }
            };

            var chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();



            // category chart
            new Chart(document.getElementById("pie-chart"), {
                type: 'pie',
                data: {
                    labels: ["Africa", "Asia", "Europe" ],
                    datasets: [{
                        label: "Population (millions)",
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                        data: [2478, 5267, 734]
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Category'
                    }
                }
            });


        }

    })


</script>