<tbody>

    <%let a=0%>

         <%for(var i=0;i<data.length;i++){%>

              <%for(var j=0;j<data[i].subCategory.length;j++){%>
                   <tr id="row_<%=a%>">
                        <%a++%>
                             <td><b>
                                       <%=a%>
                                  </b></td>
                             <td id="category_<%=a%>"><b>
                                       <%=data[i].category%>
                                  </b></td>


                             <td id="subCategory_<%=a%>">
                                  <%=data[i].subCategory[j].name%>
                             </td>
                             <td class="text-end">
                                  <a class="btn btn-outline-dark"
                                       onclick="deleteCategory('category_<%=a%>')">Delete
                                       Category</a>
                                  <a class="btn btn-outline-dark"
                                       onclick="deleteSubCategory('category_<%=a%>','subCategory_<%=a%>')">Delete
                                       Subcategory</a>
                                  <!-- <div class="dropdown">
                             <a href="#" data-bs-toggle="dropdown"
                                  class="btn btn-outline-dark "> <i
                                       class="mdi-dots-vertical"
                                       title="More"></i> </a>
                             <div class="">
                                  
                                  
                             </div>
                        </div> -->
                                  <!-- dropdown //end -->
                             </td>
                   </tr>
                   <%}%>
                        <%}%>

</tbody>