<!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">Responsive Tables</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                                            <li class="breadcrumb-item active">Responsive Tables</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-rep-plugin">
                                            <div class="table-responsive mb-0" data-pattern="priority-columns">
                                                <table id="tech-companies-1" class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>OrderId</th>
                                                        <th data-priority="1">Date</th>
                                                        <th data-priority="3">User Name</th>
                                                        <th data-priority="1">Price</th>
                                                        <th data-priority="3">Status</th>
                                                        <th data-priority="3">Patment Method</th>
                                                        <th data-priority="6">More</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        <%for(i=0;i<orders.length;i++){%>
                                                    <tr>
                                                        <th><%=orders[i]._id%></th>
                                                        <td><%=orders[i].displayDate%></td>
                                                        <td><%=orders[i].deliveryDetails.name%></td>
                                                        <td><%=orders[i].totalPrice%></td>
                                                        <td>
                                                            <select  class="form-select" name="productsubcategory">

                                                                <option><%=orders[i].status%></option>
                                                                <option>Shipped</option>
                                                                <option>Confirmed</option>
                                                                <option>Delivered</option>
                                                                <option>Cancel</option>
                                            
                                                              </select>
                                                            </td>
                                                        <td><%=orders[i].paymentMethod%></td>
                                                        <td><a onclick="viewMore('<%=orders[i]._id%>')" class="btn btn-outline-dark">View More</a></td>
                                                    </tr>
                                                    <%}%>
                                                    </tbody>
                                                </table>
                                            </div>
        
                                        </div>
        
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
                
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © Upzet.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- JAVASCRIPT -->
        <script src="/admin/libs/jquery/jquery.min.js"></script>
        <script src="/admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/admin/libs/metismenu/metisMenu.min.js"></script>
        <script src="/admin/libs/simplebar/simplebar.min.js"></script>
        <script src="/admin/libs/node-waves/waves.min.js"></script>

        <script src="/admin/js/app.js"></script>

    </body>

    <script>


        function viewMore(orderId){

            $.ajax({
                url:'/admin/viewMoreOrders',
                method:'post',
                data:{orderId:orderId}
            })

        }


    </script>