<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> -->


<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content" id="">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Product Management</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                                <li class="breadcrumb-item active">Product Management</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="c" id="table_change">
                <div class="content-header d-flex justify-content-between">
                    <h2 class="content-title">Products list </h2>
                    <div>
                        <a href="/admin/add_products" class="btn btn-primary"><i class="material-icons md-plus"></i>
                            Create
                            new</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <table id="table_id" class="table table-striped table-bordered dt-responsive nowrap"
                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Title</th>
                                    <th>Product Name</th>
                                    <th>Category</th>
                                    <th>Subcategory</th>
                                    <th>Price</th>
                                    <th>Quantity</th>

                                    <th class="text-end">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(var i=0;i<products.length;i++){%>
                                    <tr id="tr_<%=products[i]._id%>">
                                        <th><img style="width: 50px;height: 50px;"
                                                src="/user/images/productImage/<%=products[i]._id%>1.jpg" alt="image">
                                        </th>
                                        <td id="name_<%=products[i]._id%>">
                                            <%=products[i].producttitle%>
                                        </td>
                                        <td id="name_<%=products[i]._id%>">
                                            <%=products[i].productname%>
                                        </td>
                                        <td id="name_<%=products[i]._id%>">
                                            <%=products[i].productcategory%>
                                        </td>
                                        <td id="name_<%=products[i]._id%>">
                                            <%=products[i].productsubcategory%>
                                        </td>
                                        <td id="dis_<%=products[i]._id%>"><b>RS.</b>
                                            <%=products[i].productprice%>
                                        </td>
                                        <td id="quan_<%=products[i]._id%>">
                                            <%=products[i].productquantity%>
                                        </td>

                                        <td class="text-end"><a class="btn btn-success"
                                                onclick="editProduct('<%=products[i]._id%>','<%=products[i].productname%>','<%=products[i].productdiscription%>','<%=products[i].productprice%>','<%=products[i].productquantity%>','<%=products[i].productcategory%>','<%=products[i].productsubcategory%>','<%=products[i].producttitle%>')">Edit</a>
                                            <a class="btn btn-danger"
                                                onclick="deleteProduct('<%=products[i]._id%>')">Delete</a>
                                        </td>
                                    </tr>
                                    <%}%>
                            </tbody>
                        </table>
                        <!-- changing content -->

                        <!-- End chnage -->
                    </div>
                    <!-- End Page-content -->
                </div>
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <div class="rightbar-overlay"></div>


        <!-- JAVASCRIPT -->
        <script src="/admin/libs/jquery/jquery.min.js"></script>
        <script src="/admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/admin/libs/metismenu/metisMenu.min.js"></script>
        <script src="/admin/libs/simplebar/simplebar.min.js"></script>
        <script src="/admin/libs/node-waves/waves.min.js"></script>


        <!-- sweat alert -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- <script src="sweetalert2.all.min.js"></script> -->

        <script src="/admin/js/app.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/datatables.min.css"/>
 
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/datatables.min.js"></script>

        <script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>

        <link rel="stylesheet" href="https://unpkg.com/dropzone/dist/dropzone.css" />
        <link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet" />

        <script src="https://unpkg.com/dropzone"></script>
        <script src="https://unpkg.com/cropperjs"></script>


        </body>


        <script>


            $(document).ready(function () {
                $('#table_id').DataTable();
            });






            function addImg(id) {
                console.log(id);
                var oFReader = new FileReader();
                oFReader.readAsDataURL(document.getElementById("image" + id).files[0]);

                oFReader.onload = function (e) {
                    document.getElementById("uploadImage" + id).src = e.target.result;
                }
            }



            function editval() {

                console.log("called");
                let productname = $('#product_name').val()
                let producttitle = $('#product_title').val()
                let productdiscription = $('#product_description').val()
                let productprice = $('#product_price').val()
                let productquantity = $('#product_quantity').val()
                // let productsize = $('#product_size').val()
                // let productcolour = $('#product_colour').val()
                let productcategory = $('#getSubCat').val()
                let productsubcategory = $('#subcategory').val()


                let productNameError = true;

                function validateProductName() {

                    let productname = $('#product_name').val()
                    if (productname.length == '') {

                        $('#product_name').css('border-color', '#f30000')
                        $('#product_name').attr("placeholder", "Enter Product Name")
                        productNameError = false;
                        return false;
                    }
                }

                // product Title
                let productTitleError = true;

                function validateProductTitle() {

                    let productname = $('#product_title').val()
                    if (productname.length == '') {

                        $('#product_title').css('border-color', '#f30000')
                        $('#product_title').attr("placeholder", "Enter Product Title")
                        productTitleError = false;
                        return false;
                    }
                }


                // product discription
                let productDisError = true;

                function validateProductDiscription() {

                    let productdiscription = $('#product_description').val()
                    if (productdiscription.length == '') {

                        $('#product_description').css('border-color', '#f30000')
                        $('#product_description').attr("placeholder", "Enter Product Details")
                        productDisError = false;
                        return false;
                    }
                }
                // product price
                let productPriceError = true;

                function validateProductPrice() {

                    let regnum = new RegExp("^[0-9]+$");
                    let productprice = $('#product_price').val()
                    if (productprice.length == '') {

                        $('#product_price').css('border-color', '#f30000')
                        $('#product_price').attr("placeholder", "Enter Price")
                        productPriceError = false;
                        return false;

                    } else if (!regnum.test(productprice)) {

                        $('#product_price').css('border-color', '#f30000')
                        $("#pricewarn").text('Enter Number Only')


                        productPriceError = false;
                    }
                }
                // product quantity
                let productQuantityError = true;

                function validateProducQuantity() {

                    let regnum = new RegExp("^[0-9]+$");
                    let productquantity = $('#product_quantity').val()
                    if (productquantity.length == '') {

                        $('#product_quantity').css('border-color', '#f30000')
                        $('#product_quantity').attr("placeholder", "Enter Quantity")
                        productQuantityError = false;
                        return false;

                    } else if (!regnum.test(productquantity)) {

                        $('#product_quantity').css('border-color', '#f30000')
                        $("#quantitywarn").text('Enter Number Only')

                        product2000QuantityError = false;
                    }
                }
                // product size
                // let productSizeError = true;

                // function validateProducSize() {

                //     let productsize = $('#product_size').val()
                //     if (productsize.length == '') {

                //         $('#product_size').css('border-color', '#f30000')
                //         $('#product_size').attr("placeholder", "Enter Size")
                //         productSizeError = false;
                //         return false;

                //     }
                // }
                // product colour
                // let productColourError = true;

                // function validateProducColour() {

                //     let productcolour = $('#product_colour').val()
                //     if (productcolour.length == '') {

                //         $('#product_colour').css('border-color', '#f30000')
                //         $('#product_colour').attr("placeholder", "Enter Colour")
                //         productSizeError = false;
                //         return false;
                //     }
                // }
                // product category
                let productCategoryError = true;

                function validateProducCategory() {

                    let productcategory = $('#getSubCat').val()
                    if (productcategory == '') {

                        $('#getSubCat').css('border-color', '#f30000')
                        $('#getSubCat').attr("placeholder", "Select Category")
                        productCategoryError = false;
                        return false;
                    }
                }
                // product subCategory
                let productSubCategoryError = true;

                function validateProducSubCategory() {

                    let productsubcategory = $('#subcategory').val()
                    if (productsubcategory == ' ') {

                        $('#subcategory').css('border-color', '#f30000')
                        $('#subcategory').attr("placeholder", "Select SubCategory")
                        productSubCategoryError = false;
                        return false;

                    }
                }
                validateProductName()
                validateProductTitle()
                validateProductDiscription()
                validateProductPrice()
                validateProducQuantity()
                // validateProducSize()
                // validateProducColour()
                validateProducCategory()
                validateProducSubCategory()

                if (productNameError === true && productDisError === true && productPriceError === true && productQuantityError === true && productSubCategoryError === true && productCategoryError === true && productTitleError === true) {

                    return true

                } else {


                    return false
                }

                return false
            }


            function editProduct(id, name, discription, price, quantity, category, title) {

                console.log("ethyyyy");

                let change = document.getElementById('table_change')

                change.innerHTML = `
                <section class="content-main" style="max-width: 720px">
                    <div class="content-header">
                        <h2 class="content-title">Edit product </h2>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body hidden_table" id="replaced" style=" ">
                            <form id="uploadForm" onsubmit=" return editval() " action="/admin/edit_product"  enctype="multipart/form-data" method="post">
                                <div class="mb-4">
                                <label for="product_name" class="form-label">Product Title</label>
                                <input type="text" name="producttitle" value="${title}" onchange="validateProductTitle()"
                                    placeholder="Enter Product Title" class="form-control" id="product_title">
                            </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product Name</label>
                                    <input type="text" value="${name}" placeholder="Type here" name="productname" class="form-control" id="product_name"
                                        required>
                                </div>

                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <input type="text" value="${discription}" placeholder="Type here" name="productdiscription" class="form-control" id="product_description"
                                        required>
                                
                                </div>
                                <div class="row gx-2">
                                    <div class="col-sm-6 mb-3"><input style="display: none;" value="${id}" name="id" type="text">
                                        <label class="form-label">Price</label>
                                        <input value="${price}" type="text" name="productprice" onchange="validateProductPrice()" placeholder="Enter Price"
                                            class="form-control" id="product_price" required>
                                        <span style="color: red;" class="" id="pricewarn"></span>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label cpricelass="form-label">Quantity</label>
                                        <input value="${quantity}" type="text" name="productquantity" onchange="validateProducQuantity()" placeholder="Enter Quantity"
                                            class="form-control" id="product_quantity" required>
                                        <span style="color: red;" class="" id="quantitywarn"></span>
                                    </div>
                                    </div>
                                    
                                        
                                        <div class="row gx-2">
                                            <div class="col-sm-6 mb-3">
                                                <label class="form-label">Category</label>
                                                <select id="getSubCat" value="${category}" onchange="getSubcategory()" class="form-select"
                                                    name="productcategory">
            
                                                    <option value="">Select</option>
                                                    <%for(var i=0;i<data.length;i++){%>
            
                                                        <option>
                                                            <%=data[i].category%>
                                                        </option>
                                                        <%}%>
            
                                                </select>
                                            </div>
                                            <div class="col-sm-6 mb-3">
                                                <label class="form-label">Sub-category</label>
                                                <select id="subcategory" class="form-select" name="productsubcategory">
            
                                                    <option id="" value=" ">Select</option>
            
                                                </select>
                                            </div>
                                        </div>
            




                                        <div class="row gx-2">
                <div class="mb-4 col-sm-3 mb-3">
                  <label class="cabinet center-block">
                    <figure>
                      <img style=" width: 100px;" src="/user/images/productImage/${id}1.jpg" class="gambar img-responsive img-thumbnail" id="chekPreview1"
                        style="max-width: 200px; " />
                    </figure>
                    <input type="file" id="image1"
                    accept="image/gif, image/jpeg, image/png" class="item-img1 file center-block" name="productimage1" />
                    <textarea name="image1" id="imageValue1" cols="30" rows="10"
                      hidden></textarea>
                  </label>
                  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      <h4 class="modal-title" id="myModalLabel">
                        <?=multiLanguage( "Edit Foto" , "Edit Photo" )?>
                      </h4>
                    </div>
                    <div class="modal-body">
                      <div id="upload-demo1" style="width: 250px; height: 250px; padding-bottom:25px;" class="center-block">
                        <img src="" id="sampleImage1"
                            style="width:100px; height:100px" />
                            </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" id="crop1" class="btn btn-primary">Crop</button>
                    </div>
                  </div>
                </div>
              </div>
                </div>
                <div class="mb-4 col-sm-3 mb-3">
                  <label class="cabinet center-block">
                    <figure>
                      <img style=" width: 100px;" src="/user/images/productImage/${id}2.jpg" class="gambar img-responsive img-thumbnail" id="chekPreview2"
                        style="max-width: 200px; " />
                    </figure>
                    <input type="file" id="image2"
                    accept="image/gif, image/jpeg, image/png" class="item-img2 file center-block" name="productimage2" />
                    <textarea name="image2" id="imageValue2" cols="30" rows="10"
                                                                 hidden></textarea>
                  </label>
                  <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      <h4 class="modal-title" id="myModalLabel">
                        <?=multiLanguage( "Edit Foto" , "Edit Photo" )?>
                      </h4>
                    </div>
                    <div class="modal-body">
                      <div id="upload-demo2" style="width: 250px; height: 250px; padding-bottom:25px;" class="center-block">
                        <img src="" id="sampleImage2"
                            style="width:100px; height:100px" />
                            </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" id="crop2" class="btn btn-primary">Crop</button>
                    </div>
                  </div>
                </div>
              </div>
                </div>
                <div class="mb-4 col-sm-3 mb-3">
                  <label class="cabinet center-block">
                    <figure>
                      <img style=" width: 100px;" src="/user/images/productImage/${id}3.jpg" class="gambar img-responsive img-thumbnail" id="chekPreview3"
                        style="max-width: 200px; " />
                    </figure>
                    <input type="file" id="image3"
                    accept="image/gif, image/jpeg, image/png" class="item-img3 file center-block" name="productimage3" />
                    <textarea name="image3" id="imageValue3" cols="30" rows="10"
                                                                 hidden></textarea>
                  </label>
                  <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      <h4 class="modal-title" id="myModalLabel">
                        <?=multiLanguage( "Edit Foto" , "Edit Photo" )?>
                      </h4>
                    </div>
                    <div class="modal-body">
                      <div id="upload-demo3" style="width: 250px; height: 250px; padding-bottom:25px;" class="center-block">
                        <img src="" id="sampleImage3"
                            style="width:100px; height:100px" />
                            </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" id="crop3" class="btn btn-primary">Crop</button>
                    </div>
                  </div>
                </div>
              </div>
                </div>
                <div class="mb-4 col-sm-3 mb-3">
                  <label class="cabinet center-block">
                    <figure>
                      <img style=" width: 100px;" src="/user/images/productImage/${id}4.jpg" class="gambar img-responsive img-thumbnail" id="chekPreview4"
                        style="max-width: 200px; " />
                    </figure>
                    <input type="file" id="image4"
                    accept="image/gif, image/jpeg, image/png" class="item-img4 file center-block" name="productimage4" />
                    <textarea name="image4" id="imageValue4" cols="30" rows="10"
                      hidden></textarea>
                      </label>
                  <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      <h4 class="modal-title" id="myModalLabel">
                        <?=multiLanguage( "Edit Foto" , "Edit Photo" )?>
                      </h4>
                    </div>
                    <div class="modal-body">
                      <div id="upload-demo4" style="width: 250px; height: 250px; padding-bottom:25px;" class="center-block">
                        <img src="" id="sampleImage4"
                            style="width:100px; height:100px" />
                            </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" id="crop4" class="btn btn-primary">Crop</button>
                    </div>
                  </div>
                </div>
              </div>
                </div>
                
              </div>

                                        <button type="submit" class="btn btn-primary">Edit item</button>
                                        <!-- <button type="submit"   class="btn btn-danger">Cancel</button>// -->
            
                            </form>
                        </div> 
                    </div> <!-- card end// -->
                </section>

                `


                $('document').ready(function () {
                    //modal1 and image 1
                    var image1 = document.getElementById('sampleImage1');
                    var modal1 = $('#modal1');
                    var cropper1;

                    $('#image1').change(function (event) {
                        var files = event.target.files;

                        var done = function (url) {
                            image1.src = url;
                            modal1.modal('show');
                        };

                        if (files && files.length > 0) {
                            reader = new FileReader();
                            reader.onload = function (event) {
                                done(reader.result);
                            };
                            reader.readAsDataURL(files[0]);
                        }
                    });

                    modal1.on('shown.bs.modal', function () {
                        cropper1 = new Cropper(image1, {
                            aspectRatio: 8 / 9,
                            viewMode: 1,
                            preview: '#preview1'
                        });
                    }).on('hidden.bs.modal', function () {
                        cropper1.destroy();
                        cropper1 = null;
                    });

                    $('#crop1').click(function () {
                        canvas = cropper1.getCroppedCanvas({
                            width: 800,
                            height: 900
                        });

                        canvas.toBlob(function (blob) {
                            url = URL.createObjectURL(blob);
                            var reader = new FileReader();
                            reader.readAsDataURL(blob);
                            reader.onloadend = function () {
                                var base64data = reader.result;
                                modal1.modal('hide');
                                $("#imageValue1").val(base64data)
                                $('#chekPreview1').attr('src', base64data);
                            };
                        });
                    });
                    //modal1 and image 1 end

                    //modal2 and image 2
                    var image2 = document.getElementById('sampleImage2');
                    var modal2 = $('#modal2');
                    var cropper2;

                    $('#image2').change(function (event) {
                        var files = event.target.files;

                        var done = function (url) {
                            image2.src = url;
                            modal2.modal('show');
                        };

                        if (files && files.length > 0) {
                            reader = new FileReader();
                            reader.onload = function (event) {
                                done(reader.result);
                            };
                            reader.readAsDataURL(files[0]);
                        }
                    });

                    modal2.on('shown.bs.modal', function () {
                        cropper2 = new Cropper(image2, {
                            aspectRatio: 8 / 9,
                            viewMode: 2,
                            preview: '#preview2'
                        });
                    }).on('hidden.bs.modal', function () {
                        cropper2.destroy();
                        cropper2 = null;
                    });

                    $('#crop2').click(function () {
                        canvas = cropper2.getCroppedCanvas({
                            width: 800,
                            height: 900
                        });

                        canvas.toBlob(function (blob) {
                            url = URL.createObjectURL(blob);
                            var reader = new FileReader();
                            reader.readAsDataURL(blob);
                            reader.onloadend = function () {
                                var base64data = reader.result;
                                modal2.modal('hide');
                                $("#imageValue2").val(base64data)
                                $('#chekPreview2').attr('src', base64data);
                            };
                        });
                    });
                    //image 2 and modal 2 end


                    //modal3 and image 3 start
                    var image3 = document.getElementById('sampleImage3');
                    var modal3 = $('#modal3');
                    var cropper3;

                    $('#image3').change(function (event) {
                        var files = event.target.files;

                        var done = function (url) {
                            image3.src = url;
                            modal3.modal('show');
                        };

                        if (files && files.length > 0) {
                            reader = new FileReader();
                            reader.onload = function (event) {
                                done(reader.result);
                            };
                            reader.readAsDataURL(files[0]);
                        }
                    });

                    modal3.on('shown.bs.modal', function () {
                        cropper3 = new Cropper(image3, {
                            aspectRatio: 8 / 9,
                            viewMode: 2,
                            preview: '#preview3'
                        });
                    }).on('hidden.bs.modal', function () {
                        cropper3.destroy();
                        cropper3 = null;
                    });

                    $('#crop3').click(function () {
                        canvas = cropper3.getCroppedCanvas({
                            width: 800,
                            height: 900
                        });

                        canvas.toBlob(function (blob) {
                            url = URL.createObjectURL(blob);
                            var reader = new FileReader();
                            reader.readAsDataURL(blob);
                            reader.onloadend = function () {
                                var base64data = reader.result;
                                modal3.modal('hide');
                                $("#imageValue3").val(base64data)
                                $('#chekPreview3').attr('src', base64data);
                            };
                        });
                    });
                    //image 3 and modal 3 end

                    //modal4 and image 4 start
                    var image4 = document.getElementById('sampleImage4');
                    var modal4 = $('#modal4');
                    var cropper4;

                    $('#image4').change(function (event) {
                        var files = event.target.files;

                        var done = function (url) {
                            image4.src = url;
                            modal4.modal('show');
                        };

                        if (files && files.length > 0) {
                            reader = new FileReader();
                            reader.onload = function (event) {
                                done(reader.result);
                            };
                            reader.readAsDataURL(files[0]);
                        }
                    });

                    modal4.on('shown.bs.modal', function () {
                        cropper4 = new Cropper(image4, {
                            aspectRatio: 8 / 9,
                            viewMode: 1,
                            preview: '#preview4'
                        });
                    }).on('hidden.bs.modal', function () {
                        cropper4.destroy();
                        cropper4 = null;
                    });

                    $('#crop4').click(function () {
                        canvas = cropper4.getCroppedCanvas({
                            width: 800,
                            height: 900
                        });

                        canvas.toBlob(function (blob) {
                            url = URL.createObjectURL(blob);
                            var reader = new FileReader();
                            reader.readAsDataURL(blob);
                            reader.onloadend = function () {
                                var base64data = reader.result;
                                modal4.modal('hide');
                                $("#imageValue4").val(base64data)
                                $('#chekPreview4').attr('src', base64data);
                            };
                        });
                    });
                    //image 4 and modal 4 end

                });



            }


            // validation

            function validateform() {



                let productname = $('#product_name').val()
                let productdiscription = $('#product_description').val()
                let productprice = $('#product_price').val()
                let productquantity = $('#product_quantity').val()

                let productcategory = $('#getSubCat').val()
                let productsubcategory = $('#subcategory').val()

                // product name
                let productNameError = true;

                function validateProductName() {

                    let productname = $('#product_name').val()
                    if (productname.length == '') {

                        $('#product_name').css('border-color', '#f30000')
                        $('#product_name').attr("placeholder", "Enter Product Name")
                        productNameError = false;
                        return false;

                    }
                }

                // product discription
                let productDisError = true;

                function validateProductDiscription() {

                    let productdiscription = $('#product_description').val()
                    if (productdiscription.length == '') {

                        $('#product_description').css('border-color', '#f30000')
                        $('#product_description').attr("placeholder", "Enter Product Details")
                        productDisError = false;
                        return false;

                    }
                }

                // product price
                let productPriceError = true;

                function validateProductPrice() {

                    let regnum = new RegExp("^[0-9]+$");
                    let productprice = $('#product_price').val()
                    if (productprice.length == '') {

                        $('#product_price').css('border-color', '#f30000')
                        $('#product_price').attr("placeholder", "Enter Price")
                        productPriceError = false;
                        return false;

                    } else if (!regnum.test(productprice)) {

                        $('#product_price').css('border-color', '#f30000')
                        $("#pricewarn").text('Enter Number Only')


                        productPriceError = false;
                    }
                }

                // product quantity
                let productQuantityError = true;

                function validateProducQuantity() {

                    let regnum = new RegExp("^[0-9]+$");
                    let productquantity = $('#product_quantity').val()
                    if (productquantity.length == '') {

                        $('#product_quantity').css('border-color', '#f30000')
                        $('#product_quantity').attr("placeholder", "Enter Quantity")
                        productQuantityError = false;
                        return false;

                    } else if (!regnum.test(productquantity)) {

                        $('#product_quantity').css('border-color', '#f30000')
                        $("#quantitywarn").text('Enter Number Only')

                        product2000QuantityError = false;
                    }
                }
                // product size
                // let productSizeError = true;

                // function validateProducSize() {

                //     let productsize = $('#product_size').val()
                //     if (productsize.length == '') {

                //         $('#product_size').css('border-color', '#f30000')
                //         $('#product_size').attr("placeholder", "Enter Size")
                //         productSizeError = false;
                //         return false;

                //     }
                // }
                // product colour
                // let productColourError = true;

                // function validateProducColour() {

                //     let productcolour = $('#product_colour').val()
                //     if (productcolour.length == '') {

                //         $('#product_colour').css('border-color', '#f30000')
                //         $('#product_colour').attr("placeholder", "Enter Colour")
                //         productSizeError = false;
                //         return false;

                //     }
                // }
                // product category
                let productCategoryError = true;

                function validateProducCategory() {

                    let productcategory = $('#getSubCat').val()
                    if (productcategory == '') {

                        $('#getSubCat').css('border-color', '#f30000')
                        $('#getSubCat').attr("placeholder", "Select Category")
                        productCategoryError = false;
                        return false;

                    }
                }
                // product subCategory
                let productSubCategoryError = true;

                function validateProducSubCategory() {

                    let productsubcategory = $('#subcategory').val()
                    if (productsubcategory == ' ') {

                        $('#subcategory').css('border-color', '#f30000')
                        $('#subcategory').attr("placeholder", "Select SubCategory")
                        productSubCategoryError = false;
                        return false;

                    }
                }



                validateProductName()
                validateProductDiscription()
                validateProductPrice()
                validateProducQuantity()

                validateProducCategory()
                validateProducSubCategory()

                if (productNameError === true && productDisError === true && productPriceError === true && productQuantityError === true && productSizeError === true && productColourError === true) {


                    return true

                } else {
                    return false
                }
            }









            // Get sub category
            function getSubcategory() {

                let category = $('#getSubCat').val()
                $.ajax({

                    url: '/admin/getSubCategory',
                    method: 'post',
                    data: { category: category },
                    success: (response) => {

                        // $('#subcategory').html = ''
                        $("#subcategory").find('option').remove();
                        for (var i = 0; i < response.length; i++) {

                            $("#subcategory").append('<option >' + response[i] + '</option>');
                            // let sub = <option>response[i].name</option>
                            // $('#subcategory').html+= sub
                        }

                    }

                })
            }

            // Delete Product

            function deleteProduct(id) {

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire(

                            'Deleted!',
                            'Your file has been deleted.',
                            'success',
                            $.ajax({

                                url: '/admin/deleteProduct',
                                type: 'post',
                                data: { id: id },
                                success: () => {

                                    $("#table_change").load(location.href + " #table_change");

                                }

                            })

                        )
                    }
                })


            }

        </script>