<!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">Users</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                                            <li class="breadcrumb-item active">User</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        
                        <!-- <div class="content-header d-flex justify-content-between">
                            <h2 class="content-title">Users list</h2>
                            <div>
                                <a href="#" class="btn btn-primary l-0"><i class="material-icons md-plus"></i> Create new</a>
                            </div>
                        </div> -->
                    
                        <div class="card mb-4" id="table_change">
                            <div class="card-body">
                    
                                <div class="table-responsive">
                                    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Username</th>
                                                <th>Email</th>
                                                <th>Mobile</th>
                                                <th>Status</th>
                                                <th class="text-end"> Action </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%for(i=0;i<usersList.length;i++){%>
                                                <tr>
                                                    <td width="40%">
                                                        <a href="#" class="itemside">
                                                            <div class="left">
                                                            </div>
                                                            <div class="info pl-3">
                                                                <h6 class="mb-0 title"><%=usersList[i].name%></h6>
                                                                <small class="text-muted"><%=usersList[i]._id%></small>
                                                            </div>
                                                        </a>
                                                    </td>
                                                    <td><%=usersList[i].username%></td>
                                                    <td><%=usersList[i].email%></td>
                                                    <td><%=usersList[i].mobile%></td>
                                                    <td><span class="badge rounded-pill alert-success" id="status_<%=usersList[i]._id%>" ><%=usersList[i].blockStatus%></span></td>
                                                    <td class="text-end">
                                                        <a href="javascript:void(0);" class="btn btn-secondary" id="block_<%=usersList[i]._id%>" onclick="block('<%=usersList[i]._id%>')" style="width: 110px;"><%=usersList[i].isActive%></a>
                                                    </td>
                                                </tr>
                                            <%}%>
                                            
                                        </tbody>
                                    </table> <!-- table-responsive.// -->
                                </div>
                    
                            </div> <!-- card-body end// -->
                        </div> 
                </div>
                <!-- End Page-content -->
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- JAVASCRIPT -->
        <script src="/admin/libs/jquery/jquery.min.js"></script>
        <script src="/admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/admin/libs/simplebar/simplebar.min.js"></script>

        <!-- apexcharts js -->
        <script src="/admin/libs/apexcharts/apexcharts.min.js"></script>

        <!-- jquery.vectormap map -->
        <script src="/admin/libs/jqvmap/jquery.vmap.min.js"></script>
        <script src="/admin/libs/jqvmap/maps/jquery.vmap.usa.js"></script>

        <script src="/admin/js/pages/dashboard.init.js"></script>

        <script src="/admin/js/app.js"></script>

    </body>

    <!-- card end// -->

    <!-- ajax -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>


    <!-- JAVASCRIPT -->
    <script src="/admin/libs/jquery/jquery.min.js"></script>
    <script src="/admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/libs/metismenu/metisMenu.min.js"></script>
    <script src="/admin/libs/simplebar/simplebar.min.js"></script>
    <script src="/admin/libs/node-waves/waves.min.js"></script>

    <!-- Required datatable js -->
    <script src="/admin/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/admin/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
   
    <!-- Responsive examples -->
    <script src="/admin/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/admin/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="/admin/js/pages/datatables.init.js"></script>

    <!-- sweat alert -->
    <!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
    <script src="sweetalert2.all.min.js"></script>

    <script src="/admin/js/app.js"></script>



    <script>

        function block(id){

            let status = document.getElementById("status_"+id);
            let button=document.getElementById("block_"+id);



            
            $.ajax({
                url:'/admin/block',
                type: 'post',
                data : {
                    id:id
                },
                success:(data)=>{
                    if(data.bloked){
                        console.log(data);
                        console.log("hello");
                        // $("#table_change").load(location.href + " #table_change");
                        status.innerHTML="Active";
                        button.innerHTML="Block";

                    }else{
                        
                        status.innerHTML="Block";
                        button.innerHTML="Unblock";
                        
                    }
                }
                
            })
        }

    </script>
