<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>


    <%if(admin){%>

        
        <!-- custom style -->
        <link href="/admin/css/uif9e3.css?v=1.1" rel="stylesheet" type="text/css"/>
        <link href="/admin/css/responsivef9e3.css?v=1.1" rel="stylesheet" />

        

        <link href="/admin/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="/admin/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css--><link href="css/bootstrapf9e3.css?v=1.1" rel="stylesheet" type="text/css"/>
        <!-- <link href="/admin/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" /> -->
        <!-- jvectormap -->
        <link href="/admin/libs/jqvmap/jqvmap.min.css" rel="stylesheet" />

        <!-- DataTables -->
        <link href="/admin/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/admin/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="/admin/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />   

        <!-- Bootstrap Css -->
        <link href="/admin/css/bootstrap-dark.min.css" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="/admin/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="/admin/css/app-dark.min.css" rel="stylesheet" type="text/css" />
        <!-- Modal Image Crop -->
       
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="/admin/css/style.css">





        



    <%}else{%>
        


    

        <!-- WebFont.js -->
    <script>
        WebFontConfig = {
            google: { families: ['Poppins:400,500,600,700,800', 'Seoge Script:400,500,600,700,800'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = '/user/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <link rel="preload" href="/user/vendor/fontawesome-free/webfonts/fa-regular-400.woff2" as="font" type="font/woff2"
        crossorigin="anonymous">
    <link rel="preload" href="/user/vendor/fontawesome-free/webfonts/fa-solid-900.woff2" as="font" type="font/woff2"
        crossorigin="anonymous">
    <link rel="preload" href="/user/vendor/fontawesome-free/webfonts/fa-brands-400.woff2" as="font" type="font/woff2"
        crossoriginanswers-header="anonymous">
    <link rel="preload" href="/user/fonts/wolmart87d5.ttf?png09e" as="font" type="font/ttf" crossorigin="anonymous">

    <!-- Vendor CSS -->
    <link rel="stylesheet" type="text/css" href="/user/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/user/vendor/swiper/swiper-bundle.min.css">





    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="/user/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="/user/vendor/animate/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/user/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Default CSS -->
    <link rel="stylesheet" type="text/css" href="/user/css/demo15.min.css">
    <link rel="stylesheet" type="text/css" href="/user/css/style.min.css">



    




    <%}%>
    
</head>
<body>
    
    <%if(admin.status){%>
        <%if(admin.adminLogin){%>
            <%-include('../partials/admin-header')%>
        <%}%>
        
    <%}else{%>
        <%-include('../partials/user-header')%>
    <%}%>
    <%-body%>
    
    <%if(admin){%>
        <%if(admin.adminLogin){%>
            <%-include('../partials/admin-footer')%>
        <%}%>
        
    <%}else{%>
        <%-include('../partials/user-footer')%>
    <%}%>

    
</body>
</html>