<!-- Start of Main -->
<main class="main checkout">
    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb shop-breadcrumb bb-no">
                <li class="passed"><a href="/cart">Shopping Cart</a></li>
                <li class="active"><a href="/checkout">Checkout</a></li>
                <li><a href="javascript: void(0)">Order Complete</a></li>
            </ul>
        </div>
    </nav>
    <!-- End of Breadcrumb -->


    <!-- Start of PageContent -->
    <div class="page-content" id="container">
        <div class="container">

            <form class="form checkout-form" id="checkout-form" >
                <div class="row mb-9">
                    <div class="col-lg-7 pr-lg-4 mb-4">
                        <div class="head pb-5">
                            <h4 class="ls-10 pt-1 mb-0">
                                Delivery Address
                            </h4>
                            <span style="font-size: 12px;">We will deliver your order to this address</span>
                        </div>
                        <%for(var i=0;i<address.length;i++){%>
                            <div id="edit_<%=address[i]._id%>" class="ecommerce-address shipping-address pr-lg-8 pt-5">

                                <div class="row align-items-center">
                                    <div class="col-md-1 col-1">
                                        <input type="radio" name="address" value="<%=address[i]._id%>" checked>
                                    </div>
                                    <div class="col-md-5 col-11">
                                        <address class="mb-4">
                                            <table class="address-table">
                                                <tbody>
                                                    <tr>
                                                        <th>Name:</th>
                                                        <td id="name_<%=address[i]._id%>">
                                                            <%=address[i].name%>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Address:</th>
                                                        <td id="address_<%=address[i]._id%>">
                                                            <%=address[i].address%>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Town:</th>
                                                        <td id="town_<%=address[i]._id%>">
                                                            <%=address[i].town%>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>State:</th>
                                                        <td id="state_<%=address[i]._id%>">
                                                            <%=address[i].state%>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Postcode:</th>
                                                        <td id="zip_<%=address[i]._id%>">
                                                            <%=address[i].zip%>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Mobile:</th>
                                                        <td id="mobile_<%=address[i]._id%>">
                                                            <%=address[i].mobile%>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </address>
                                    </div>
                                    <div class="col-md-6">
                                        <a onclick="editAddress('<%=address[i]._id%>')"
                                            class="btn btn-link btn-underline btn-icon-right text-primary pt-5">Edit
                                            your
                                            shipping address<i class="w-icon-long-arrow-right"></i></a>
                                        <a onclick="deleteAddress('<%=address[i]._id%>')"
                                            class="btn btn-link btn-underline btn-icon-right text-success pt-5">Delete
                                            Address<i class="w-icon-long-arrow-right"></i></a>
                                    </div>

                                </div>
                            </div>
                            <hr>
                            <%}%>

                                <div class="new_address pt-5">
                                    <a onclick="addressRow()"
                                        class="btn btn-link btn-underline btn-icon-right text-primary">Add
                                        New Address<i class="w-icon-long-arrow-right"></i></a>
                                </div>
                                <input id="identification" type="text" value="close" style="display: none;">
                                <div id="add_address_div"></div>
                    </div>
                    <div class="col-lg-5 mb-4 sticky-sidebar-wrapper">
                        <div class="order-summary-wrapper sticky-sidebar">
                            <h3 class="title text-uppercase ls-10">Your Order</h3>
                            <div class="order-summary">
                                <table class="order-table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                <b>Product</b>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%for(i=0;i<cart.length;i++){%>
                                            <tr class="bb-no">
                                                <td class="product-name">
                                                    <%=cart[i].product.producttitle%><i class="fas fa-times"></i>
                                                        <span class="product-quantity">
                                                            <%=cart[i].quantity%>
                                                        </span>
                                                </td>
                                                <td class="product-total">RS.<span>
                                                        <%=cart[i].subTotal%>
                                                    </span></td>
                                            </tr>
                                            <%}%>
                                                <!-- <tr class="cart-subtotal bb-no">
                                            <td>
                                                <b>Subtotal</b>
                                            </td>
                                            <td>
                                                <b>$100.00</b>
                                            </td>
                                        </tr> -->
                                    </tbody>

                                    <tfoot>
                                        <tr class="shipping-methods">
                                            <td colspan="2" class="text-left">
                                                <h4 class="title title-simple bb-no mb-1 pb-0 pt-3">Shipping
                                                </h4>
                                                <ul id="shipping-method" class="mb-4">
                                                    <li>


                                                        <label for="free-shipping"
                                                            class="custom-control-label color-dark">Free
                                                            Shipping</label>

                                                    </li>
                                                    <li>


                                                        <label for="local-pickup"
                                                            class="custom-control-label color-dark">Local
                                                            Pickup</label>

                                                    </li>

                                                </ul>
                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>
                                                <b>Total</b>
                                            </th>
                                            <td>
                                                <b>RS.<span>
                                                        <%=total%>
                                                    </span></b>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>

                                <div class="payment-methods" id="payment_method">
                                    <h4 class="title font-weight-bold ls-25 pb-0 mb-1">Payment Methods</h4>
                                    <div class="accordion payment-accordion">
                                        <div class="card">
                                            <div class="card-header">
                                                <label style="color: #6e6b6b; font-weight: 500;" for=""><input
                                                        type="radio" name="payment" value="COD" checked>
                                                    Cash On Delivery</label>
                                            </div>
                                            <div class="card-header">
                                                <label style="color: #6e6b6b; font-weight: 500;" for=""><input
                                                        type="radio" name="payment" value="Razorpay" checked>
                                                    RazorPay</label>
                                            </div>
                                            <div class="card-header">
                                                <label style="color: #6e6b6b; font-weight: 500;" for=""><input
                                                        type="radio" name="payment" value="Paypal" checked>
                                                    Paypal</label>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="form-group place-order pt-6">
                                    <button type="submit" class="btn btn-dark btn-block btn-rounded">Place
                                        Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End of PageContent -->
</main>
<!-- End of Main -->

<!-- razorpay -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

    function submitform() {

        return true
    }

    $('#checkout-form').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {

                if(response.cod){

                    location.href = '/order-placed'

                }else{
                    razorpayPayment(response)
                }

            }
        })
    })

    function razorpayPayment(order) {

        var options = {
            "key": "rzp_test_0nLdeWwVk1f3M2", // Enter the Key ID generated from the Dashboard
            "amount": order.amount * 100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Shopify",
            "description": "Test Transaction",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                console.log('ethyyyyyy');
                // alert(response.razorpay_payment_id);
                // alert(response.razorpay_order_id);
                // alert(response.razorpay_signature)

                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Abin P Anil",
                "email": "abinpanil9@gmail.com",
                "contact": "9567915361"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function (response) {
            // alert(response.error.code);
            // alert(response.error.description);
            // alert(response.error.source);
            // alert(response.error.step);
            // alert(response.error.reason);
            // alert(response.error.metadata.order_id);
            // alert(response.error.metadata.payment_id);
        });
        rzp1.open();
    }

    function verifyPayment(payment, order) {

        $.ajax({
            url: '/verify-payment',
            method: 'post',
            data: {
                payment, order
            },
            success:(response)=>{
                if(response.status){

                    location.href = '/order-placed'

                }else{
                    alert('Payment failed')
                }
            }
        })
    }


    function deleteAddress(id) {

        event.preventDefault()

        $.ajax({
            url: 'deleteAddress',
            method: 'post',
            data: { id: id },
            success: () => {
                $("#container").load(location.href + " #container");
            }
        })
    }


    function cancelEdit() {
        event.preventDefault()
        $.ajax({

            url: '/cancel',
            method: 'post',
            success: () => {
                $("#container").load(location.href + " #container");
            }
        })
    }

    function updateAddress(id) {

        event.preventDefault()


        // name validation
        let nameError = true;

        function validateName() {

            let nameValue = $('#name').val()

            if (nameValue.length == '') {

                $('#name').css('border-color', '#c70d0d')
                $('#name').attr("placeholder", "Enter Name")

                nameError = false;
                return false;
            }
        }

        // address validation
        let addressError = true;

        function validateAddress() {

            let adressValue = $('#adress').val()

            if (adressValue.length == '') {

                $('#adress').css('border-color', '#c70d0d')
                $('#adress').attr("placeholder", "Enter Address")

                addressError = false;
                return false;
            }
        }

        // town validation
        let townError = true;

        function validateTown() {

            let townValue = $('#town').val()

            if (townValue.length == '') {

                $('#town').css('border-color', '#c70d0d')
                $('#town').attr("placeholder", "Enter Town")

                townError = false;
                return false;
            }
        }

        // zip validation
        let zipError = true;

        function validateZip() {

            let regnum = new RegExp("^[0-9]+$");
            let zipValue = $('#zip').val()

            if (zipValue.length == '') {

                $('#zip').css('border-color', '#c70d0d')
                $('#zip').attr("placeholder", "Enter Zip")

                zipError = false;
                return false;
            }
            else if (!regnum.test(zipValue)) {

                $('#zip').css('border-color', '#c70d0d')
                $("#zip_warning").text('Enter Numbers Only')

                mobileError = false;
            }
            else if (zipValue.length != 6) {

                $('#zip').css('border-color', '#c70d0d')
                $("#zip_warning").text('Enter a valid Zip')

                mobileError = false;
            }
        }

        // state validation
        let stateError = true;

        function validateState() {

            let stateValue = $('#state').val()

            if (stateValue.length == '') {

                $('#state').css('border-color', '#c70d0d')
                $('#state').attr("placeholder", "Enter State")

                stateError = false;
                return false;
            }
        }

        // mobile validation
        let mobileError = true;

        function validateMobile() {

            let regnum = new RegExp("^[0-9]+$");

            let mobileValue = $('#mobile').val();

            if (mobileValue.length == '') {

                $('#mobile').css('border-color', '#c70d0d')
                $('#mobile').attr("placeholder", "Enter Number")

                mobileError = false;
                return false;
            } else if (!regnum.test(mobileValue)) {

                $('#mobile').css('border-color', '#c70d0d')
                $("#mobile_warning").text('Enter Numbers Only')

                mobileError = false;
            } else if (mobileValue.length != 10) {

                $('#mobile').css('border-color', '#c70d0d')
                $("#mobile_warning").text('Mobile number must Contain 10 Digit')

                mobileError = false;
            }

        }


        validateName()
        validateAddress()
        validateTown()
        validateZip()
        validateState()
        validateMobile()

        let updateAddress = {
            name: $('#name').val(),
            address: $('#adress').val(),
            town: $('#town').val(),
            zip: $('#zip').val(),
            state: $('#state').val(),
            mobile: $('#mobile').val(),
            id: id
        }

        console.log(updateAddress);

        if (mobileError === true && stateError === true && zipError === true && townError === true && addressError === true && nameError === true) {


            $.ajax({
                url: '/update_address',
                method: 'post',
                data: updateAddress,
                success: () => {

                    $("#container").load(location.href + " #container");

                }
            })
        }

    }

    function editAddress(id) {

        let name = $('#name_' + id).html()
        let address = $('#address_' + id).html()
        let town = $('#town_' + id).html()
        let state = $('#state_' + id).html()
        let zip = $('#zip_' + id).html()
        let mobile = $('#mobile_' + id).html()

        console.log(name);

        let changediv = document.getElementById('edit_' + id)
        changediv.innerHTML = `
        
        <div class=" mb-4 pt-5">
                        <h5 class="title billing-title ls-10 pt-1 pb-3 mb-0">
                            Edit Address
                        </h5>
                        <div class="row gutter-sm">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control form-control-md" name="Name" value="${name}" id="name" placeholder="Enter Name">
                                <p id="name_warning" style="color: red;"> </p>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control form-control-md" placeholder="Enter Address" value="${address}" id="adress" Address" name="address">
                            <p id="address_warning" style="color: red;"> </p>
                        </div>
                        
                        
                        <div class="row gutter-sm">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Town / City *</label>
                                    <input type="text" class="form-control form-control-md" value="${town}" id="town" name="town" >
                                    <p id="town_warning" style="color: red;"> </p>
                                </div>
                                <div class="form-group">
                                    <label>ZIP *</label>
                                    <input type="text" class="form-control form-control-md" value="${zip}" id="zip" name="zip" >
                                    <p id="zip_warning" style="color: red;"> </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>State *</label>
                                    <input type="text" class="form-control form-control-md" value="${state}" id="state" name="state" >
                                    <p id="state_warning" style="color: red;"> </p>
                                </div>
                                <div class="form-group">
                                    <label>Phone *</label>
                                    <input type="text" class="form-control form-control-md" value="${mobile}" id="mobile" name="phone" >
                                    <p id="mobile_warning" style="color: red;"> </p>
                                </div>
                            </div>
                            <div class="row justify-content-end pt-3">
                                <div class="col-6 col-md-3 float-right">
                                    <div class="form-group">
                                        
                                        <button onclick="cancelEdit()" class="btn btn-outline-dark btn-block btn-rounded">Cancel</button>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 float-right">
                                    <div class="form-group">
                                       
                                        <button onclick="updateAddress('${id}')" class="btn btn-dark btn-block btn-rounded">Save</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
        
        `


    }





    function addAddress() {

        event.preventDefault()

        // name validation
        let nameError = true;

        function validateName() {

            let nameValue = $('#name').val()

            if (nameValue.length == '') {

                $('#name').css('border-color', '#c70d0d')
                $('#name').attr("placeholder", "Enter Name")

                nameError = false;
                return false;
            }
        }

        // address validation
        let addressError = true;

        function validateAddress() {

            let adressValue = $('#adress').val()

            if (adressValue.length == '') {

                $('#adress').css('border-color', '#c70d0d')
                $('#adress').attr("placeholder", "Enter Address")

                addressError = false;
                return false;
            }
        }

        // town validation
        let townError = true;

        function validateTown() {

            let townValue = $('#town').val()

            if (townValue.length == '') {

                $('#town').css('border-color', '#c70d0d')
                $('#town').attr("placeholder", "Enter Town")

                townError = false;
                return false;
            }
        }

        // zip validation
        let zipError = true;

        function validateZip() {

            let regnum = new RegExp("^[0-9]+$");
            let zipValue = $('#zip').val()

            if (zipValue.length == '') {

                $('#zip').css('border-color', '#c70d0d')
                $('#zip').attr("placeholder", "Enter Zip")

                zipError = false;
                return false;
            }
            else if (!regnum.test(zipValue)) {

                $('#zip').css('border-color', '#c70d0d')
                $("#zip_warning").text('Enter Numbers Only')

                mobileError = false;
            }
            else if (zipValue.length != 6) {

                $('#zip').css('border-color', '#c70d0d')
                $("#zip_warning").text('Enter a valid Zip')

                mobileError = false;
            }
        }

        // state validation
        let stateError = true;

        function validateState() {

            let stateValue = $('#state').val()

            if (stateValue.length == '') {

                $('#state').css('border-color', '#c70d0d')
                $('#state').attr("placeholder", "Enter State")

                stateError = false;
                return false;
            }
        }

        // mobile validation
        let mobileError = true;

        function validateMobile() {

            let regnum = new RegExp("^[0-9]+$");

            let mobileValue = $('#mobile').val();

            if (mobileValue.length == '') {

                $('#mobile').css('border-color', '#c70d0d')
                $('#mobile').attr("placeholder", "Enter Number")

                mobileError = false;
                return false;
            } else if (!regnum.test(mobileValue)) {

                $('#mobile').css('border-color', '#c70d0d')
                $("#mobile_warning").text('Enter Numbers Only')

                mobileError = false;
            } else if (mobileValue.length != 10) {

                $('#mobile').css('border-color', '#c70d0d')
                $("#mobile_warning").text('Mobile number must Contain 10 Digit')

                mobileError = false;
            }

        }


        validateName()
        validateAddress()
        validateTown()
        validateZip()
        validateState()
        validateMobile()

        let newAddress = {
            name: $('#name').val(),
            address: $('#adress').val(),
            town: $('#town').val(),
            zip: $('#zip').val(),
            state: $('#state').val(),
            mobile: $('#mobile').val()
        }

        if (mobileError === true && stateError === true && zipError === true && townError === true && addressError === true && nameError === true) {

            console.log(newAddress);
            $.ajax({
                url: '/add_address',
                method: 'post',
                data: newAddress,
                success: () => {

                    $("#container").load(location.href + " #container");

                }
            })
        }

    }


    function cancel() {
        event.preventDefault()
        let address_space = document.getElementById('add_address_div')

        address_space.innerHTML = ""
    }


    function addressRow() {

        let identity = document.getElementById('identification').value

        if (identity === "close") {

            identity.value = "open"
            let address_space = document.getElementById('add_address_div')

            address_space.innerHTML = `
        <hr>
        <div class=" mb-4 pt-5">
                        <h5 class="title billing-title ls-10 pt-1 pb-3 mb-0">
                            Add New Address
                        </h5>
                        <div class="row gutter-sm">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control form-control-md" name="Name" id="name" placeholder="Enter Name">
                                <p id="name_warning" style="color: red;"> </p>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control form-control-md" placeholder="Enter Address" id="adress" Address" name="address">
                            <p id="address_warning" style="color: red;"> </p>
                        </div>
                        
                        
                        <div class="row gutter-sm">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Town / City *</label>
                                    <input type="text" class="form-control form-control-md" id="town" name="town" >
                                    <p id="town_warning" style="color: red;"> </p>
                                </div>
                                <div class="form-group">
                                    <label>ZIP *</label>
                                    <input type="text" class="form-control form-control-md" id="zip" name="zip" >
                                    <p id="zip_warning" style="color: red;"> </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>State *</label>
                                    <input type="text" class="form-control form-control-md" id="state" name="state" >
                                    <p id="state_warning" style="color: red;"> </p>
                                </div>
                                <div class="form-group">
                                    <label>Phone *</label>
                                    <input type="text" class="form-control form-control-md" id="mobile" name="phone" >
                                    <p id="mobile_warning" style="color: red;"> </p>
                                </div>
                            </div>
                            <div class="row justify-content-end pt-3">
                                <div class="col-6 col-md-3 float-right">
                                    <div class="form-group">
                                        
                                        <button onclick="cancel()" class="btn btn-outline-dark btn-block btn-rounded">Cancel</button>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 float-right">
                                    <div class="form-group">
                                       
                                        <button onclick="addAddress()" class="btn btn-dark btn-block btn-rounded">Save</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

        `
        } else {

            let address_space = document.getElementById('add_address_div')

            identity.value = "close"

            address_space.innerHTML = ""
        }

    }

</script>