<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>


<!-- Start of Main -->
<main class="main">
    <!-- Start of Page Header -->
    <div class="page-header">
        <div class="container">
            <h1 class="page-title mb-0">My Account</h1>
        </div>
    </div>
    <!-- End of Page Header -->

    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>My account</li>
            </ul>
        </div>
    </nav>
    <!-- End of Breadcrumb -->

    <!-- Start of PageContent -->
    <div class="page-content pt-2">
        <div id="container" class="container">
            <div class="tab tab-vertical row gutter-lg">
                <ul class="nav nav-tabs mb-6" role="tablist">
                    <li class="nav-item">

                        <label class="cabinet center-block">
                            <figure>
                                <img style="width: 150px; height: 150px; border-radius: 50%; "
                                    onerror="this.src='https://user.gadjian.com/static/images/personnel_boy.png'"
                                    id="chekPreview1" src="/user/images/user/<%=userDetails[0]._id%>.jpg">

                            </figure>
                            <input type="file" id="image1" accept="image/gif, image/jpeg, image/png"
                                onchange="validateMultipleImage('image1')" class="item-img1 file center-block"
                                name="productimage1" />
                            <textarea name="image1" id="imageValue1" cols="30" rows="10" hidden></textarea>
                        </label>
                        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                            aria-hidden="true"> 
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            <?=multiLanguage( "Edit Foto" , "Edit Photo" )?>
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <div id="upload-demo1" style="width: 250px; height: 250px; padding-bottom:25px;"
                                            class="center-block">
                                            <img src="" id="sampleImage1" style="width:100px; height:100px" />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" id="crop1" class="btn btn-primary">Crop</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="nav-item">
                        <a href="#account-dashboard" class="nav-link active">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="#account-orders" class="nav-link">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a href="#account-addresses" class="nav-link">Addresses</a>
                    </li>
                    <li class="nav-item">
                        <a href="#account-details" class="nav-link">Account details</a>
                    </li>
                    <li class="nav-item">
                        <a href="#account-wallet" class="nav-link">Wallet</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0);" onclick="signOut()" class="nav-link">Logout</a>
                    </li>
                </ul>



                <div class="tab-content mb-6">
                    <div class="tab-pane active in" id="account-dashboard">
                        <p class="greeting">
                            Hello
                            <span class="text-dark font-weight-bold">
                                <%=user.name%>
                            </span>

                        </p>

                        <p class="mb-4">
                            From your account dashboard you can view your <a href="#account-orders"
                                class="text-primary link-to-tab">recent orders</a>,
                            manage your <a href="#account-addresses" class="text-primary link-to-tab">
                                addresses</a>, and
                            <a href="#account-details" class="text-primary link-to-tab">edit your password and
                                account details.</a>
                        </p>

                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mb-4">
                                <a href="#account-orders" class="link-to-tab">
                                    <div class="icon-box text-center">
                                        <span class="icon-box-icon icon-orders">
                                            <i class="w-icon-orders"></i>
                                        </span>
                                        <div class="icon-box-content">
                                            <p class="text-uppercase mb-0">Orders</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mb-4">
                                <a href="#account-addresses" class="link-to-tab">
                                    <div class="icon-box text-center">
                                        <span class="icon-box-icon icon-address">
                                            <i class="w-icon-map-marker"></i>
                                        </span>
                                        <div class="icon-box-content">
                                            <p class="text-uppercase mb-0">Addresses</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mb-4">
                                <a href="#account-details" class="link-to-tab">
                                    <div class="icon-box text-center">
                                        <span class="icon-box-icon icon-account">
                                            <i class="w-icon-user"></i>
                                        </span>
                                        <div class="icon-box-content">
                                            <p class="text-uppercase mb-0">Account Details</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mb-4">
                                <a href="#account-wallet" class="link-to-tab">
                                    <div class="icon-box text-center">
                                        <span class="icon-box-icon icon-download">
                                            <i class=" w-icon-wallet"></i>
                                        </span>
                                        <div class="icon-box-content">
                                            <p class="text-uppercase mb-0">wallet</p>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane mb-4" id="account-orders">
                        <div class="icon-box icon-box-side icon-box-light">
                            <span class="icon-box-icon icon-orders">
                                <i class="w-icon-orders"></i>
                            </span>
                            <div class="icon-box-content">
                                <h4 class="icon-box-title text-capitalize ls-normal mb-0">Orders</h4>
                            </div>
                        </div>

                        <table class="shop-table account-orders-table mb-6" id="table_id">
                            <thead>
                                <tr>
                                    <th class="order-id">Address</th>
                                    <th class="order-date">Date</th>
                                    <th class="order-status">Status</th>
                                    <th class="order-total">Total</th>
                                    <th class="order-actions">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(i=0;i<orders.length;i++){%>
                                    <tr>
                                        <td class="order-id pr-2">
                                            <%=orders[i].deliveryDetails.name%>,<%=orders[i].deliveryDetails.address%>,
                                                    <%=orders[i].deliveryDetails.town%>
                                        </td>
                                        <td class="order-date" style="align-items: center; vertical-align: middle;">
                                            <%=orders[i].displayDate%>
                                        </td>
                                        <%if(orders[i].status !='cancel' ){%>
                                            <td class="order-status"
                                                style="align-items: center; vertical-align: middle;">
                                                <%=orders[i].status%>
                                            </td>
                                            <%}else{%>
                                                <td class="order-status"
                                                    style="align-items: center; vertical-align: middle;"><span
                                                        style="color: red;">
                                                        <%=orders[i].status%>
                                                    </span></td>
                                                <%}%>
                                                    <td class="order-total" style="align-items: center;">
                                                        <span class="order-price">RS.<%=orders[i].totalPrice%></span>
                                                    </td>
                                                    <td class="order-action"
                                                        style="align-items: center; vertical-align: middle;">
                                                        <a href="/view-order/<%=orders[i]._id%>"
                                                            class="btn btn-outline btn-default btn-block btn-sm btn-rounded">View</a>
                                                    </td>
                                    </tr>
                                    <%}%>
                            </tbody>
                        </table>
                        <script>
                            $(document).ready(function () {
                                $('#table_id').DataTable();
                            });
                        </script>

                        <a href="/" class="btn btn-dark btn-rounded btn-icon-right">Go
                            Shop<i class="w-icon-long-arrow-right"></i></a>
                    </div>


                    <div class="tab-pane" id="account-addresses">


                        <div class="row">
                            <div class="col-lg-7 pr-lg-4 mb-4">
                                <div class="head pb-5">
                                    <h4 class="ls-10 pt-1 mb-0">
                                        Address
                                    </h4>
                                    <p>The following addresses will be used on the checkout page
                                        by default.</p>
                                </div>
                                <%for(var i=0;i<address.length;i++){%>
                                    <div id="edit_<%=address[i]._id%>"
                                        class="ecommerce-address shipping-address pr-lg-8 pt-5">

                                        <div class="row align-items-center">

                                            <div class="col-md-5 col-11">
                                                <address class="mb-4">
                                                    <table class="address-table">
                                                        <tbody>
                                                            <tr>
                                                                <th>Name:</th>
                                                                <td id="name_<%=address[i]._id%>">
                                                                    <%=address[i].name%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>Address:</th>
                                                                <td id="address_<%=address[i]._id%>">
                                                                    <%=address[i].address%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>Town:</th>
                                                                <td id="town_<%=address[i]._id%>">
                                                                    <%=address[i].town%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>State:</th>
                                                                <td id="state_<%=address[i]._id%>">
                                                                    <%=address[i].state%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>Postcode:</th>
                                                                <td id="zip_<%=address[i]._id%>">
                                                                    <%=address[i].zip%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>Mobile:</th>
                                                                <td id="mobile_<%=address[i]._id%>">
                                                                    <%=address[i].mobile%>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </address>
                                            </div>
                                            <div class="col-md-6">
                                                <a onclick="editAddress('<%=address[i]._id%>')"
                                                    class="btn btn-link btn-underline btn-icon-right text-primary pt-5">Edit
                                                    your
                                                    shipping address<i class="w-icon-long-arrow-right"></i></a>
                                                <a onclick="deleteAddress('<%=address[i]._id%>')"
                                                    class="btn btn-link btn-underline btn-icon-right text-danger pt-5">Delete
                                                    Address<i class="w-icon-long-arrow-right"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                    <hr>
                                    <%}%>

                                        <div class="new_address pt-5">
                                            <a onclick="addressRow()"
                                                class="btn btn-link btn-underline btn-icon-right text-primary">Add
                                                New Address<i class="w-icon-long-arrow-right"></i></a>
                                        </div>
                                        <input id="identification" type="text" value="close" style="display: none;">
                                        <div id="add_address_div"></div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="account-details">
                        <div class="icon-box icon-box-side icon-box-light">
                            <span class="icon-box-icon icon-account mr-2">
                                <i class="w-icon-user"></i>
                            </span>
                            <div class="icon-box-content">
                                <h4 class="icon-box-title mb-0 ls-normal">Account Details</h4>
                            </div>
                        </div>

                        <div class="inner pt-5" id="inner">
                            <h4 class="title title-password ls-25 font-weight-bold" id="edit_heading"></h4>
                            <form class="form account-details-form" action="#" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Full Name *</label>
                                            <input type="text" class="form-control your-class"
                                                value="<%=userDetails[0].name%>" name="name" id="edit_name" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label id="ulabel">username *</label>
                                            <input type="text" class="form-control your-class"
                                                value="<%=userDetails[0].username%>" name="username" id="edit_username"
                                                disabled>
                                            <p id="username_warning" style="color: red;"> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Mobile *</label>
                                    <input type="text" class="form-control your-class"
                                        value="<%=userDetails[0].mobile%>" name="mobile" id="edit_mobile" disabled>
                                    <span style="color: red;" id="mobilewarn" class=""></span>
                                    <p id="mobile_warning" style="color: red;"> </p>
                                </div>
                                <div class="form-group mb-6">
                                    <label>Email *</label>
                                    <input type="text" class="form-control your-class" value="<%=userDetails[0].email%>"
                                        name="email" id="edit_email" disabled>
                                    <span style="color: red;" id="emailwarn" class=""></span>
                                    <p id="email_warning" style="color: red;"> </p>
                                </div>
                                <button type="submit" class="btn btn-dark btn-rounded btn-sm mb-4"
                                    onclick="editDetails()" id="edit_button">Edit</button>
                                <%if(userDetails[0].password ==='' ){%>
                                    <a class="btn btn-outline-secondary btn-rounded btn-sm mb-4"
                                        onclick="createPassword()" id="chane_password">Create Password</a>
                                    <%}else{%>
                                        <a class="btn btn-outline-secondary btn-rounded btn-sm mb-4"
                                            onclick="changePassword()" id="chane_password">Change Password</a>
                                        <%}%>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane" id="account-wallet">
                        <div class="icon-box icon-box-side icon-box-light">
                            <span class="icon-box-icon icon-wallet mr-2">
                                <i class=" w-icon-wallet"></i>
                            </span>
                            <div class="icon-box-content pb-5">
                                <h4 class="icon-box-title ls-normal">wallet</h4>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-md-6 pt-5">
                                <h4>Wallet Money : <span style="color: #636060;"> Rs.<%=userDetails[0].wallet%></span>
                                </h4>
                            </div>
                            <div class="col-md-6 pt-5 text-end">
                                <h5 style="float: right;">Refferal Code : <span style="color: #636060;">
                                        <%=userDetails[0].refferalCode%>
                                    </span></h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of PageContent -->
</main>
<!-- End of Main -->

<!-- Plugin JS File -->
<script src="/user/vendor/jquery/jquery.min.js"></script>
<script src="/user/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/user/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/user/js/main.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>

<link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/datatables.min.css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript"
    src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/datatables.min.js"></script>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/4f9ff9a3d7.js" crossorigin="anonymous"></script>
<!-- Material Dashboard CSS -->
<link href="/assets/css/material-dashboard.min.css?v=2.1.0" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://unpkg.com/dropzone/dist/dropzone.css" />
<link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet" />

<script src="https://unpkg.com/dropzone"></script>
<script src="https://unpkg.com/cropperjs"></script>


<script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>

<script>

    function cancelEdit() {

        console.log("ethyyyy");

        event.preventDefault()
        $.ajax({

            url: '/cancel',
            method: 'post',
            success: () => {
                console.log("returnn");
                $("#container").load(location.href + " #container");
            }
        })
    }

    function viewOrder(orderId) {

        $.ajax({
            url: '/view-order/' + orderId,
            method: 'get'
        })
    }

    function validateMultipleImage(id) {
        console.log(id);
        var formData = new FormData();
        var file = document.getElementById(id).files[0];
        formData.append("Filedata", file);
        var t = file.type.split('/').pop().toLowerCase();
        if (t != "jpeg" && t != "jpg" && t != "png" && t != "bmp" && t != "gif") {
            Swal.fire(
                'Not a valid Image file',
                'Select A correct Image file'
            )
            document.getElementById(id).value = '';
            return false;
        }
    }

    $('#document').ready(function () {

        var image1 = document.getElementById('sampleImage1');
        var modal1 = $('#modal1');
        var cropper1;

        $('#image1').change(function (event) {
            var files = event.target.files;

            var done = function (url) {
                image1.src = url;
                modal1.modal('show');
            };

            if (files && files.length > 0) {
                reader = new FileReader();
                reader.onload = function (event) {
                    done(reader.result);
                };
                reader.readAsDataURL(files[0]);
            }
        });

        modal1.on('shown.bs.modal', function () {
            cropper1 = new Cropper(image1, {
                aspectRatio: 1,
                viewMode: 1,
                preview: '#preview1'
            });
        }).on('hidden.bs.modal', function () {
            cropper1.destroy();
            cropper1 = null;
        });

        $('#crop1').click(function () {
            canvas = cropper1.getCroppedCanvas({
                width: 300,
                height: 300
            });

            canvas.toBlob(function (blob) {
                url = URL.createObjectURL(blob);
                var reader = new FileReader();
                reader.readAsDataURL(blob);
                reader.onloadend = function () {
                    var base64data = reader.result;
                    modal1.modal('hide');
                    img1 = base64data
                    $("#imageValue1").val(base64data)
                    $('#chekPreview1').attr('src', base64data);


                    let formData = new FormData();
                    formData.append('img1', img1)
                    $.ajax({
                        url: "/change-avatar",
                        data: formData,
                        method: "post",
                        enctype: 'multipart/formdata',
                        processData: false,
                        contentType: false,
                        success: () => {
                            alert('done')
                        }

                    })
                };
            });
        });
    })


    function createPassword() {

        event.preventDefault()

        document.getElementById('inner').innerHTML = `
        
        <h4 class="title title-password ls-25 font-weight-bold">Password change</h4>
                                <form action="">
                                    <div class="form-group">
                                        <label class="text-dark" for="new-password">Enter New Password</label>
                                        <input type="password" class="form-control form-control-md" id="new-password"
                                            name="new_password">
                                    </div>
                                    <div class="form-group mb-10">
                                        <label class="text-dark" for="conf-password">Confirm Password</label>
                                        <input type="password" class="form-control form-control-md" id="conf-password"
                                            name="conf_password">
                                            <p id="pass_warning" style="color: red;"> </p>
                                        <input type="text" class="form-control your-class" style="display:none"
                                            value="<%=userDetails[0].username%>" name="username" id="pass_username"
                                            disabled>
                                    </div>
                                    <button class="btn btn-dark btn-rounded btn-sm mb-4" onclick="saveNewPassword()">Save</button>
                                    <button class="btn btn-outline-secondary btn-rounded btn-sm mb-4" onclick="cancelEditPassword()">Cancel</button>
                                </form>
        `
    }



    function changePassword() {

        event.preventDefault()

        document.getElementById('inner').innerHTML = `
        
        <h4 class="title title-password ls-25 font-weight-bold">Password change</h4>
                                <form action="">
                                    <div class="form-group">
                                        <label class="text-dark" for="cur-password">Enter Current Password</label>
                                        <input type="password" class="form-control form-control-md" id="cur-password"
                                            name="cur_password">
                                            <p id="incorrectpass_warning" style="color: red;"> </p>
                                    </div>
                                    <div class="form-group">
                                        <label class="text-dark" for="new-password">Enter New Password</label>
                                        <input type="password" class="form-control form-control-md" id="new-password"
                                            name="new_password">
                                    </div>
                                    <div class="form-group mb-10">
                                        <label class="text-dark" for="conf-password">Confirm Password</label>
                                        <input type="password" class="form-control form-control-md" id="conf-password"
                                            name="conf_password">
                                            <p id="pass_warning" style="color: red;"> </p>
                                            <input type="text" class="form-control your-class" style="display:none"
                                                value="<%=userDetails[0].username%>" name="username" id="pass_username"
                                                disabled>
                                    </div>
                                    <button class="btn btn-dark btn-rounded btn-sm mb-4" onclick="saveNewPassword()">Save</button>
                                    <button class="btn btn-outline-secondary btn-rounded btn-sm mb-4" onclick="cancelEditPassword()">Cancel</button>
                                </form>

        `

    }

    function savePassword() {

        event.preventDefault()

        let currPassError = true;

        function curPass() {

            let currPass = $('#cur-password').val()

            if (currPass.length == '') {

                $('#cur-password').css('border-color', '#c70d0d')
                $('#cur-password').attr("placeholder", "Enter Current Password")

                currPassError = false;
                return false;
            }
        }

        let newPassError = true; confPass

        function newPass() {

            let newPass = $('#new-password').val()

            if (newPass.length == '') {

                $('#new-password').css('border-color', '#c70d0d')
                $('#new-password').attr("placeholder", "Enter New Password")

                newPassError = false;
                return false;
            }
        }

        let confPassError = true;

        function confPass() {

            let confPass = $('#conf-password').val()

            if (confPass.length == '') {

                $('#conf-password').css('border-color', '#c70d0d')
                $('#conf-password').attr("placeholder", "Enter Conform Password")

                confPassError = false;
                return false;
            }
        }

        curPass()
        newPass()
        confPass()

        let passObj = {
            username: $('#pass_username').val(),
            currentPass: $('#cur-password').val(),
            newPass: $('#new-password').val(),
            confPass: $('#conf-password').val()
        }
        console.log(passObj);

        if (currPassError === true && newPassError === true && confPassError === true) {



            if (passObj.newPass === passObj.confPass) {

                $.ajax({
                    url: '/edit_password',
                    method: 'post',
                    data: passObj,
                    success: (responce) => {

                        if (responce.status) {

                            var toastMixin = Swal.mixin({
                                toast: true,
                                icon: 'success',
                                title: 'General Title',
                                animation: false,
                                position: 'top-right',
                                showConfirmButton: false,
                                timer: 3000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.addEventListener('mouseenter', Swal.stopTimer)
                                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                                }
                            });

                            toastMixin.fire({
                                animation: true,
                                title: 'Password changed Successfully'
                            });

                            $("#account-details").load(location.href + " #account-details");

                        } else {

                            $('#incorrectpass_warning').text('Enter currect Password')
                        }

                    }
                })

            } else {

                console.log("out");
                $('#pass_warning').text('Enter same password')

            }

        }

    }


    function saveNewPassword() {

        event.preventDefault()

        let newPassError = true; confPass

        function newPass() {

            let newPass = $('#new-password').val()

            if (newPass.length == '') {

                $('#new-password').css('border-color', '#c70d0d')
                $('#new-password').attr("placeholder", "Enter New Password")

                newPassError = false;
                return false;
            }
        }

        let confPassError = true;

        function confPass() {

            let confPass = $('#conf-password').val()

            if (confPass.length == '') {

                $('#conf-password').css('border-color', '#c70d0d')
                $('#conf-password').attr("placeholder", "Enter Conform Password")

                confPassError = false;
                return false;
            }
        }


        newPass()
        confPass()

        let passObj = {
            username: $('#pass_username').val(),
            newPass: $('#new-password').val(),
            confPass: $('#conf-password').val()
        }
        console.log(passObj);

        if (newPassError === true && confPassError === true) {



            if (passObj.newPass === passObj.confPass) {
                console.log("ethyyyyyyy");
                $.ajax({
                    url: '/create_password',
                    method: 'post',
                    data: {pass:passObj.newPass,
                            username:passObj.username
                    },
                    success: () => {

                        var toastMixin = Swal.mixin({
                            toast: true,
                            icon: 'success',
                            title: 'General Title',
                            animation: false,
                            position: 'top-right',
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            }
                        });

                        toastMixin.fire({
                            animation: true,
                            title: 'Password Added Successfully'
                        });

                        $("#account-details").load(location.href + " #account-details");

                    }
                })

            } else {

                console.log("out");
                $('#pass_warning').text('Enter same password')

            }

        }
    }


    function cancelEditPassword() {

        event.preventDefault()

        $("#inner").load(location.href + " #inner");

    }

    function editDetails() {

        event.preventDefault()

        $('#edit_heading').html('Edit Details')

        $('#edit_name').removeAttr('disabled')
        $('#edit_username').removeAttr('disabled')
        $('#edit_email').removeAttr('disabled')
        $('#edit_mobile').removeAttr('disabled')
        document.getElementById('edit_name').style.border = '1px solid black'
        document.getElementById('edit_name').style.color = 'black'
        document.getElementById('edit_username').style.border = '1px solid black'
        document.getElementById('edit_username').style.color = 'black'
        document.getElementById('edit_email').style.border = '1px solid black'
        document.getElementById('edit_email').style.color = 'black'
        document.getElementById('edit_mobile').style.border = '1px solid black'
        document.getElementById('edit_mobile').style.color = 'black'
        document.getElementById('edit_button').innerHTML = "Save"
        document.getElementById('edit_button').removeAttribute('onclick')
        document.getElementById('edit_button').setAttribute("onclick", "saveEdit()")
        document.getElementById('chane_password').innerHTML = 'Cancel'
        document.getElementById('chane_password').removeAttribute('onclick')
        document.getElementById('chane_password').setAttribute('onclick', 'cancelEditPassword()')



    }

    function saveEdit() {

        event.preventDefault()

        let nameError = true;

        function validateName() {

            let nameValue = $('#edit_name').val()

            if (nameValue.length == '') {

                $('#edit_name').css('border-color', '#c70d0d')
                $('#edit_name').attr("placeholder", "Enter Username")

                nameError = false;
                return false;
            }
        }

        let usernameError = true;

        function validateUsername() {

            let usernameValue = $('#edit_username').val();

            if (usernameValue.length == '') {

                $('#edit_username').css('border-color', '#c70d0d')
                $('#edit_username').attr("placeholder", "Enter Username")

                usernameError = false;
                return false;

            }
        }

        // Validate Email

        let emailError = true;

        function validateEmail() {

            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;

            var emailaddressVal = $("#edit_email").val();

            if (emailaddressVal == '') {

                $('#edit_email').css('border-color', '#c70d0d')
                $('#edit_email').attr("placeholder", "Enter Email")

                emailError = false;
            }

            else if (!emailReg.test(emailaddressVal)) {

                $('#edit_email').css('border-color', '#c70d0d')
                $("#emailwarn").text('Enter a valid email address')
                emailError = false;
            }
        }


        // mobile validation
        let mobileError = true;

        function validateMobile() {

            let regnum = new RegExp("^[0-9]+$");

            let mobileValue = $('#edit_mobile').val();

            if (mobileValue.length == '') {

                $('#edit_mobile').css('border-color', '#c70d0d')
                $('#edit_mobile').attr("placeholder", "Enter Number")

                mobileError = false;
                return false;
            } else if (!regnum.test(mobileValue)) {

                $('#mobile').css('border-color', '#c70d0d')
                $("#mobilewarn").text('Enter Numbers Only')

                mobileError = false;
            } else if (mobileValue.length != 10) {

                $('#edit_mobile').css('border-color', '#c70d0d')
                $("#mobilewarn").text('Mobile number must Contain 10 Digit')

                mobileError = false;
            }

        }

        validateName()
        validateUsername()
        validateEmail()
        validateMobile()

        let username_err = $('#username_warning')
        let email_err = $('#email_warning')
        let mobile_err = $('#mobile_warning')


        if (nameError === true && usernameError === true && emailError === true && mobileError === true) {

            let editObj = {

                name: $('#edit_name').val(),
                username: $('#edit_username').val(),
                email: $('#edit_email').val(),
                mobile: $('#edit_mobile').val()
            }
            console.log(editObj);
            $.ajax({

                url: '/edit_validate',
                method: 'post',
                data: editObj,
                success: (data) => {
                    console.log(data);
                    // if (data.status) {

                    var toastMixin = Swal.mixin({
                        toast: true,
                        icon: 'success',
                        title: 'General Title',
                        animation: false,
                        position: 'top-right',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    });

                    toastMixin.fire({
                        animation: true,
                        title: 'Edited Successfully'
                    });

                    $("#account-details").load(location.href + " #account-details");

                    // } else {

                    //     username_err.text(data.username)
                    //     email_err.text(data.email)
                    //     mobile_err.text(data.mobile)


                    // }
                }
            })
        }



    }

    function deleteAddress(id) {

        event.preventDefault()
        $.ajax({
            url: 'deleteAddress',
            method: 'post',
            data: { id: id },
            success: () => {
                $("#container").load(location.href + " #container");
            }
        })
    }






    function editAddress(id) {

        let name = $('#name_' + id).html().trim()
        let address = $('#address_' + id).html().trim()
        let town = $('#town_' + id).html().trim()
        let state = $('#state_' + id).html().trim()
        let zip = $('#zip_' + id).html().trim()
        let mobile = $('#mobile_' + id).html().trim()
        console.log(town);
        console.log(state);
        console.log(zip);
        console.log(mobile);

        let changediv = document.getElementById('edit_' + id)
        changediv.innerHTML = `

<div class=" mb-4 pt-5">
                <h5 class="title billing-title ls-10 pt-1 pb-3 mb-0">
                    Edit Address
                </h5>
                <div class="row gutter-sm">
                    <div class="form-group">
                        <label>Full Name</label>
                        <input type="text" class="form-control form-control-md" name="Name" value="${name}" id="name" placeholder="Enter Name">
                        <p id="name_warning" style="color: red;"> </p>
                    </div>
                    
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control form-control-md" placeholder="Enter Address" value="${address}" id="adress" Address" name="address">
                    <p id="address_warning" style="color: red;"> </p>
                </div>
                
                
                <div class="row gutter-sm">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Town / City *</label>
                            <input type="text" class="form-control form-control-md" value="${town}" id="town" name="town" >
                            <p id="town_warning" style="color: red;"> </p>
                        </div>
                        <div class="form-group">
                            <label>ZIP *</label>
                            <input type="text" class="form-control form-control-md" value="${zip}" id="zip" name="zip" >
                            <p id="zip_warning" style="color: red;"> </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>State *</label>
                            <input type="text" class="form-control form-control-md" value="${state}" id="state" name="state" >
                            <p id="state_warning" style="color: red;"> </p>
                        </div>
                        <div class="form-group">
                            <label>Phone *</label>
                            <input type="text" class="form-control form-control-md" value="${mobile}" id="mobile" name="phone" >
                            <p id="mobile_warning" style="color: red;"> </p>
                        </div>
                    </div>
                    <div class="row justify-content-end pt-3">
                        <div class="col-6 col-md-3 float-right">
                            <div class="form-group">
                                
                                <button onclick="cancelEdit()" class="btn btn-outline-dark btn-block btn-rounded">Cancel</button>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 float-right">
                            <div class="form-group">
                               
                                <button onclick="updateAddress('${id}')" class="btn btn-dark btn-block btn-rounded">Save</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

`


        function updateAddress(id) {

            event.preventDefault()


            // name validation
            let nameError = true;

            function validateName() {

                let nameValue = $('#name').val()

                if (nameValue.length == '') {

                    $('#name').css('border-color', '#c70d0d')
                    $('#name').attr("placeholder", "Enter Name")

                    nameError = false;
                    return false;
                }
            }

            // address validation
            let addressError = true;

            function validateAddress() {

                let adressValue = $('#adress').val()

                if (adressValue.length == '') {

                    $('#adress').css('border-color', '#c70d0d')
                    $('#adress').attr("placeholder", "Enter Address")

                    addressError = false;
                    return false;
                }
            }

            // town validation
            let townError = true;

            function validateTown() {

                let townValue = $('#town').val()

                if (townValue.length == '') {

                    $('#town').css('border-color', '#c70d0d')
                    $('#town').attr("placeholder", "Enter Town")

                    townError = false;
                    return false;
                }
            }

            // zip validation
            let zipError = true;

            function validateZip() {

                let regnum = new RegExp("^[0-9]+$");
                let zipValue = $('#zip').val()

                if (zipValue.length == '') {

                    $('#zip').css('border-color', '#c70d0d')
                    $('#zip').attr("placeholder", "Enter Zip")

                    zipError = false;
                    return false;
                }
                else if (!regnum.test(zipValue)) {

                    $('#zip').css('border-color', '#c70d0d')
                    $("#zip_warning").text('Enter Numbers Only')

                    mobileError = false;
                }
                else if (zipValue.length != 6) {

                    $('#zip').css('border-color', '#c70d0d')
                    $("#zip_warning").text('Enter a valid Zip')

                    mobileError = false;
                }
            }

            // state validation
            let stateError = true;

            function validateState() {

                let stateValue = $('#state').val()

                if (stateValue.length == '') {

                    $('#state').css('border-color', '#c70d0d')
                    $('#state').attr("placeholder", "Enter State")

                    stateError = false;
                    return false;
                }
            }

            // mobile validation
            let mobileError = true;

            function validateMobile() {

                let regnum = new RegExp("^[0-9]+$");

                let mobileValue = $('#mobile').val();

                if (mobileValue.length == '') {

                    $('#mobile').css('border-color', '#c70d0d')
                    $('#mobile').attr("placeholder", "Enter Number")

                    mobileError = false;
                    return false;
                } else if (!regnum.test(mobileValue)) {

                    $('#mobile').css('border-color', '#c70d0d')
                    $("#mobile_warning").text('Enter Numbers Only')

                    mobileError = false;
                } else if (mobileValue.length != 10) {

                    $('#mobile').css('border-color', '#c70d0d')
                    $("#mobile_warning").text('Mobile number must Contain 10 Digit')

                    mobileError = false;
                }

            }


            validateName()
            validateAddress()
            validateTown()
            validateZip()
            validateState()
            validateMobile()

            let updateAddress = {
                name: $('#name').val(),
                address: $('#adress').val(),
                town: $('#town').val(),
                zip: $('#zip').val(),
                state: $('#state').val(),
                mobile: $('#mobile').val(),
                id: id
            }

            console.log(updateAddress);

            if (mobileError === true && stateError === true && zipError === true && townError === true && addressError === true && nameError === true) {


                $.ajax({
                    url: '/update_address',
                    method: 'post',
                    data: updateAddress,
                    success: () => {

                        $("#container").load(location.href + " #container");

                    }
                })
            }

        }



    }





    function addAddress() {

        event.preventDefault()

        // name validation
        let nameError = true;

        function validateName() {

            let nameValue = $('#name').val()

            if (nameValue.length == '') {

                $('#name').css('border-color', '#c70d0d')
                $('#name').attr("placeholder", "Enter Name")

                nameError = false;
                return false;
            }
        }

        // address validation
        let addressError = true;

        function validateAddress() {

            let adressValue = $('#adress').val()

            if (adressValue.length == '') {

                $('#adress').css('border-color', '#c70d0d')
                $('#adress').attr("placeholder", "Enter Address")

                addressError = false;
                return false;
            }
        }

        // town validation
        let townError = true;

        function validateTown() {

            let townValue = $('#town').val()

            if (townValue.length == '') {

                $('#town').css('border-color', '#c70d0d')
                $('#town').attr("placeholder", "Enter Town")

                townError = false;
                return false;
            }
        }

        // zip validation
        let zipError = true;

        function validateZip() {

            let regnum = new RegExp("^[0-9]+$");
            let zipValue = $('#zip').val()

            if (zipValue.length == '') {

                $('#zip').css('border-color', '#c70d0d')
                $('#zip').attr("placeholder", "Enter Zip")

                zipError = false;
                return false;
            }
            else if (!regnum.test(zipValue)) {

                $('#zip').css('border-color', '#c70d0d')
                $("#zip_warning").text('Enter Numbers Only')

                mobileError = false;
            }
            else if (zipValue.length != 6) {

                $('#zip').css('border-color', '#c70d0d')
                $("#zip_warning").text('Enter a valid Zip')

                mobileError = false;
            }
        }

        // state validation
        let stateError = true;

        function validateState() {

            let stateValue = $('#state').val()

            if (stateValue.length == '') {

                $('#state').css('border-color', '#c70d0d')
                $('#state').attr("placeholder", "Enter State")

                stateError = false;
                return false;
            }
        }

        // mobile validation
        let mobileError = true;

        function validateMobile() {

            let regnum = new RegExp("^[0-9]+$");

            let mobileValue = $('#mobile').val();

            if (mobileValue.length == '') {

                $('#mobile').css('border-color', '#c70d0d')
                $('#mobile').attr("placeholder", "Enter Number")

                mobileError = false;
                return false;
            } else if (!regnum.test(mobileValue)) {

                $('#mobile').css('border-color', '#c70d0d')
                $("#mobile_warning").text('Enter Numbers Only')

                mobileError = false;
            } else if (mobileValue.length != 10) {

                $('#mobile').css('border-color', '#c70d0d')
                $("#mobile_warning").text('Mobile number must Contain 10 Digit')

                mobileError = false;
            }

        }


        validateName()
        validateAddress()
        validateTown()
        validateZip()
        validateState()
        validateMobile()

        let newAddress = {
            name: $('#name').val(),
            address: $('#adress').val(),
            town: $('#town').val(),
            zip: $('#zip').val(),
            state: $('#state').val(),
            mobile: $('#mobile').val()
        }

        if (mobileError === true && stateError === true && zipError === true && townError === true && addressError === true && nameError === true) {

            console.log(newAddress);
            $.ajax({
                url: '/add_address',
                method: 'post',
                data: newAddress,
                success: () => {

                    $("#container").load(location.href + " #container");

                }
            })
        }

    }


    function cancel() {
        event.preventDefault()
        let address_space = document.getElementById('add_address_div')

        address_space.innerHTML = ""
    }


    function addressRow() {

        let identity = document.getElementById('identification').value

        if (identity === "close") {

            identity.value = "open"
            let address_space = document.getElementById('add_address_div')

            address_space.innerHTML = `
<hr>
<div class=" mb-4 pt-5">
                <h5 class="title billing-title ls-10 pt-1 pb-3 mb-0">
                    Add New Address
                </h5>
                <div class="row gutter-sm">
                    <div class="form-group">
                        <label>Full Name</label>
                        <input type="text" class="form-control form-control-md" name="Name" id="name" placeholder="Enter Name">
                        <p id="name_warning" style="color: red;"> </p>
                    </div>
                    
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control form-control-md" placeholder="Enter Address" id="adress" Address" name="address">
                    <p id="address_warning" style="color: red;"> </p>
                </div>
                
                
                <div class="row gutter-sm">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Town / City *</label>
                            <input type="text" class="form-control form-control-md" id="town" name="town" >
                            <p id="town_warning" style="color: red;"> </p>
                        </div>
                        <div class="form-group">
                            <label>ZIP *</label>
                            <input type="text" class="form-control form-control-md" id="zip" name="zip" >
                            <p id="zip_warning" style="color: red;"> </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>State *</label>
                            <input type="text" class="form-control form-control-md" id="state" name="state" >
                            <p id="state_warning" style="color: red;"> </p>
                        </div>
                        <div class="form-group">
                            <label>Phone *</label>
                            <input type="text" class="form-control form-control-md" id="mobile" name="phone" >
                            <p id="mobile_warning" style="color: red;"> </p>
                        </div>
                    </div>
                    <div class="row justify-content-end pt-3">
                        <div class="col-6 col-md-3 float-right">
                            <div class="form-group">
                                
                                <button onclick="cancel()" class="btn btn-outline-dark btn-block btn-rounded">Cancel</button>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 float-right">
                            <div class="form-group">
                               
                                <button onclick="addAddress()" class="btn btn-dark btn-block btn-rounded">Save</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

`
        } else {

            let address_space = document.getElementById('add_address_div')

            identity.value = "close"

            address_space.innerHTML = ""
        }

    }





</script>