<!-- Start of Main -->
<main class="main wishlist-page">
    <!-- Start of Page Header -->
    <div class="page-header">
        <div class="container">
            <h1 class="page-title mb-0">Wishlist</h1>
        </div>
    </div>
    <!-- End of Page Header -->

    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav mb-10">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>Wishlist</li>
            </ul>
        </div>
    </nav>
    <!-- End of Breadcrumb -->

    <!-- Start of PageContent -->
    <div class="page-content">
        <div class="container">
            <h3 class="wishlist-title">My wishlist</h3>
            <table class="shop-table wishlist-table">
                <%if(wishlist.length){%>
                    <thead>
                        <tr>
                            <th class="product-name"><span>Product</span></th>
                            <th></th>
                            <th class="product-price"><span>Price</span></th>
                            <!-- <th class="product-stock-status"><span>Stock Status</span></th> -->
                            <th class="wishlist-action">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <%for(i=0;i<wishlist.length;i++){%>
                            <tr id="tr_<%=wishlist[i]._id%>">
                                <td class="product-thumbnail">
                                    <div class="p-relative">
                                        <a href="/viewproduct/<%=wishlist[i]._id%>">
                                            <figure>
                                                <img src="/user/images/productImage/<%=wishlist[i]._id%>1.jpg"
                                                    alt="product" width="300" height="338">
                                            </figure>
                                        </a>
                                        <button onclick="removeProduct('<%=wishlist[i]._id%>')" class="btn btn-close"><i
                                                class="fas fa-times"></i></button>
                                    </div>
                                </td>
                                <td class="product-name">
                                    <a href="/viewproduct/<%=wishlist[i]._id%>">
                                        <%=wishlist[i].producttitle%>
                                    </a>
                                </td>

                                <%if(wishlist[i].isOfferActive===true){%>

                                    <%if(wishlist[i].isProOfferActive===true){%>

                                        <%if(wishlist[i].offer_price> wishlist[i].productoffer_price){%>

                                            <td class="product-price">
                                                <del>Rs.<%=wishlist[i].productprice%></del>

                                                <span style="color: green;">Rs.<%=wishlist[i].productoffer_price%>
                                                        </span>
                                            </td>

                                            <%}else{%>

                                                <td class="product-price">
                                                    <del>Rs.<%=wishlist[i].productprice%></del>

                                                    <span style="color: green;">Rs.<%=wishlist[i].offer_price%></span>
                                                </td>

                                                <%}%>

                                                    <%}else{%>

                                                        <td class="product-price">
                                                            <del>Rs.<%=wishlist[i].productprice%></del>

                                                            <span style="color: green;">Rs.<%=wishlist[i].offer_price%>
                                                            </span>
                                                        </td>

                                                        <%}%>

                                                            <%}else if(wishlist[i].isProOfferActive===true){%>

                                                                <td class="product-price">
                                                                    <del>Rs.<%=wishlist[i].productprice%></del>

                                                                    <span style="color: green;">Rs.
                                                                        <%=wishlist[i].productoffer_price%>
                                                                    </span>
                                                                </td>

                                                                <%}else{%>

                                                                    <td class="product-price">
                                                                        <span class="new-price">Rs.
                                                                            <%=wishlist[i].productprice%>
                                                                        </span>
                                                                    </td>

                                                                    <%}%>


                                                                        <!-- <td class="product-stock-status">
                                                                        <span class="wishlist-in-stock">In Stock</span>
                                                                    </td> -->
                                                                        <td class="wishlist-action">
                                                                            <div class="d-lg-flex">
                                                                                <a href="/viewproduct/<%=wishlist[i]._id%>"
                                                                                    class="btn btn-quickview btn-outline btn-default btn-rounded btn-sm mb-2 mb-lg-0">Quick
                                                                                    View</a>
                                                                                <a onclick="addToCart('<%=wishlist[i]._id%>')"
                                                                                    class="btn btn-dark btn-rounded btn-sm ml-lg-2 btn-cart">Add
                                                                                    to
                                                                                    cart</a>
                                                                            </div>
                                                                        </td>
                            </tr>
                            <%}%>

                    </tbody>
                    <%}else{%>
            </table>


            <div class="row justify-content-center">
                <div class="col-12 pt-5"
                    style="min-height: 33vh; display: flex; justify-content: center; align-items: center;">
                    <h3 style="color: #696666;">Wishlist is Empty...!</h3>
                </div>
            </div>

            <%}%>
                </table>
                <div class="cart-action mb-6">
                    <a href="/" class="btn btn-dark btn-rounded btn-icon-left btn-shopping mr-auto"><i
                            class="w-icon-long-arrow-left"></i>Continue Shopping</a>

                </div>
        </div>
    </div>
    <!-- End of PageContent -->
</main>
<!-- End of Main -->


<!-- Plugin JS File -->
<script src="/user/vendor/jquery/jquery.min.js"></script>
<script src="/user/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/user/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/user/js/main.min.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>

    function addToWishlist(name, id) {
        console.log(name);
        $.ajax({
            url: '/add-to-wishlist',
            method: 'post',
            data: { proId: id },
            success: (response) => {

                if (response.login === true) {

                    if (response.status === 1) {
                        $(`#wish-btn-${name}_${id}`).removeClass('w-icon-heart')
                        $(`#wish-btn-${name}_${id}`).addClass('w-icon-heart-full')
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Product Added to Wishlist',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    } else if (response.status === 2) {
                        $(`#wish-btn-${name}_${id}`).removeClass('w-icon-heart-full')
                        $(`#wish-btn-${name}_${id}`).addClass('w-icon-heart')
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Product Removed from Wishlist',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }

                } else {
                    window.location.assign('/login')
                }

            }
        })
    }

    function addToCart(id) {


        $.ajax({
            url: '/add-to-cart',
            method: 'post',
            data: { proId: id },
            success: (response) => {
                if (response.status) {

                    let count = $('#cart_count').html()
                    $('#cart_count').html(parseInt(count) + 1)

                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Product Added to cart',
                        showConfirmButton: false,
                        timer: 1500
                    })

                } else {
                    window.location.assign('/login')
                }

            }
        })

    }

    function removeProduct(id) {

        $.ajax({
            url: '/remove-wishlist-product',
            method: 'post',
            data: { id: id },
            success: () => {

                $('#tr_' + id).remove()

                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Product Removed from Wishlist',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        })
    }

</script>